::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
        display: none;
    }
    .mat-sort-header-indicator {
        opacity: 1;
        color: black;
        font-weight: bold;
        // Hide default arrow as its composed of left, right and middle
        .mat-sort-header-pointer-left,
        .mat-sort-header-pointer-right,
        .mat-sort-header-pointer-middle {
            display: none;
        }
    }
}

::ng-deep.bs-datepicker {
    height: 350px;
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 0.54 !important;
}

.custom-content {
    position: absolute;
    z-index: 1081;
    top: 390px;
    cursor: pointer;
    align-self: center;
}

// Custom ascending arrow for the tabale header
[aria-sort="ascending"] {
     ::ng-deep .mat-sort-header-arrow {
        .mat-sort-header-indicator {
            &::before {
                font: normal normal normal 1.1rem/1 FontAwesome;
                color: grey;
                content: "\f0d7";
                position: absolute;
                top: .2rem;
                padding-left: 10px;
            }
        }
    }
}

// Custom descending arrow for the tabale header
[aria-sort="descending"] {
     ::ng-deep .mat-sort-header-arrow {
        .mat-sort-header-indicator {
            &::before {
                font: normal normal normal 1.1rem/1 FontAwesome;
                color: grey;
                content: "\f0d8";
                position: absolute;
                top: -.9rem;
                padding-left: 5px;
            }
        }
    }
}

//Textbox with magnifier icon
.input-wrapper {
    display: inline-block;
    position: relative
}

.input-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    right: 6px;
    width: 15px;
    height: 15px;
    bottom: 10px;
}