<div style="min-height: 87vh">

    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 columnpadding">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label class="title">{{this.statementService.profileDetails.creditCardDetails[0].cardType}}</label>
                        <p class="value">{{this.statementService.profileDetails.creditCardDetails[0].primaryCardNumber}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label class="title">Statemnt amount due</label>
                        <p class="value">{{formatNumber(this.statementService.profileDetails.creditCardDetails[0].totalPaymentDue)}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label class="title">Min amount due</label>
                        <p class="value"> {{formatNumber(this.statementService.profileDetails.creditCardDetails[0].minimumPaymentDue)}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 columnpadding">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><label class="title">Payment due date</label>
                        <p class="value">{{this.statementService.profileDetails.creditCardDetails[0].paymentDueDate}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="button-cont">
                        <button class="btn" type="button" (click)="payNow()">Pay Now</button>
                        <!-- <a [routerLink]="">PAY NOW</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-bottom: 10px;">
        <mat-divider></mat-divider>
    </div>
    <div class="remainbalance" style="margin-bottom: 15px;">
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <!-- <p>Statement Date:</p> -->
                <p>Statement Period:</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center;">

                <p>{{statementPeriodOne}} To {{statementPeriodTwo}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right;">
                <!-- <p>تاريخ استحقاق الدفع</p> -->
                <p>مدة كشف الحساب</p>
            </div>
        </div>
    </div>
    <div class="remainbalance" style="margin-bottom: 15px;">
        <p class="title-heading">Summary Of Accounts
            <span style="float:right" class="title-heading">ملخص الحسابات</span>
        </p>
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Card Number</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                <p>{{creditCardSummary.primaryCardNumber}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>رقم البطاقة</p>
            </div>
        </div>
        <!--Previous Balance-->
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Previous Balance (AED)</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">

                <p>
                    {{formatNumber(creditCardSummary.previousBalance)}}
                </p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>الرصيد السابق (درهم إماراتي)</p>
            </div>
        </div>
        <!--Purchase/Cash Advance-->
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Purchase/Cash Advance (AED)</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                <!-- TODO -->
                <p> {{formatNumber(creditCardSummary.cashAdvance)}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>المشتريات/ السلفة النقدية ( درهم إماراتي)</p>
            </div>
        </div>
        <!--Interest/Charges-->
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Interest/Charges (AED)</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">

                <p>{{formatNumber(creditCardSummary.interestCharges)}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>الفوائد/ الرسوم (درهم إماراتي)</p>
            </div>
        </div>
        <!--Payment/Credits-->
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Payment/Credits (AED)</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                <p>{{formatNumber(creditCardSummary.paymentCredit)}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>المدفوعات/ الإئتمان (درهم إماراتي)</p>
            </div>
        </div>

        <!--Total Payment Due-->
        <div class="row row-small-screen">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                <p>Total Payment Due (AED)</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                <p>{{formatNumber(creditCardSummary.totalPaymentDue)}}</p>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right">
                <p>إجمالي الدفع المستحق (درهم إماراتي)</p>
            </div>
        </div>

    </div>

    <div class="remainbalance" style="margin-bottom: 15px; padding-top:5px">
        <p class="title-heading">Credit Card Transaction Details
            <span class="title-heading" style="float:right">تفاصيل معاملات بطاقة الإئتمان</span>
        </p>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="filterlabel anykeyword">Keywords</label>

                <div class="calendar-input">

                    <i><img src="/assets/icons/search.png" width="15px" height="15px" alt="">  </i>
                    <input class="form-control" id="anyKey" (input)="onFieldChangeAnyKey()" [(ngModel)]="searchTerm" type="text" />


                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">

                <button type="button" (click)="resetFields()" name="clear">Clear</button>
            </div>
        </div>



        <mat-divider></mat-divider>

        <!--Transaction Details-->
        <div class="table-container">
            <table id="trnsTable" cellspacing="5" cellpadding="10">


                <th (click)="hide()">تاريخ التحويل<br>Transaction date
                    <span *ngIf="show">
                            <i ><img src="/assets/icons/carret-down.png" alt="" width="18px" height="18px"></i>
                        </span>
                    <span *ngIf="!show">
                           <i ><img src="/assets/icons/carret-up-2.png" alt="" width="18px" height="18px"></i>

                        </span>
                </th>
                <th (click)="hide()" style="text-align:left">تاريخ تخصيص و إيداع المبلغ المسدد<br> Posting date
                    <span *ngIf="show">
                            <i ><img src="/assets/icons/carret-down.png" alt="" width="18px" height="18px"></i>
                        </span>
                    <span *ngIf="!show">
                           <i ><img src="/assets/icons/carret-up-2.png" alt="" width="18px" height="18px"></i>

                        </span>
                </th>
                <th (click)="hide()" style="text-align:left">الوصف<br>Description
                    <span *ngIf="show">
                            <i ><img src="/assets/icons/carret-down.png" alt="" width="20px" height="20px"></i>
                        </span>
                    <span *ngIf="!show">
                           <i ><img src="/assets/icons/carret-up-2.png" alt="" width="20px" height="20px"></i>

                        </span>
                </th>
                <th style="text-align:right">المبلغ الأصلي<br>Amount - Original Currency

                </th>
                <th (click)="hide()" style="text-align:right">المبلغ (درهم إماراتي)<br>Amount(AED)
                    <span *ngIf="show">
                            <i ><img src="/assets/icons/carret-down.png" alt="" width="20px" height="20px"></i>
                        </span>
                    <span *ngIf="!show">
                           <i ><img src="/assets/icons/carret-up-2.png" alt="" width="20px" height="20px"></i>

                        </span>
                </th>

                <tr *ngFor="let trans of cardTransactions" [ngClass]="(trans.eppEligible == 'Y' && trans.eppRequested == 'N') ?'row-height':''">
                    <td style="text-align:left">{{trans.date}}</td>
                    <td style="text-align:left">{{trans.postingDate}}</td>
                    <td style="text-align:left;" [ngClass]="(trans.eppEligible == 'Y' && trans.eppRequested == 'N')?'text-relative':''">
                        {{trans.description}}

                        <p id="epp-button" *ngIf="trans.eppEligible == 'Y' && trans.eppRequested == 'N'" [ngClass]="(trans.eppEligible == 'Y' && trans.eppRequested == 'N')?'button-absolute':''"><a routerLink="/statement/epp" (click)="sendDataToEpp(trans)">PAY IN INSTALMENTS</a></p>

                    </td>
                    <td style="text-align:right">{{trans.currencyType}}</td>
                    <td style="text-align:right">{{trans.amount}}

                    </td>


                </tr>


            </table>
        </div>
    </div>
    <div *ngIf="installmentDetails.length>0" class="remainbalance" style="padding-top:5px">

        <p class="title-heading">Summary of Instalment Plans
            <span class="title-heading" style="float:right">ملخص خطة السداد</span>
        </p>

        <div class="table-container">
            <table id="trnsTable" cellspacing="5" cellpadding="10">
                <thead>
                    <tr>
                        <th>التاريخ<br>Date

                        </th>
                        <!-- <th>رجاتلا مسا<br> Merchant Name

                        </th> -->
                        <!-- <th> (مهرد) يلامجإلا غلبملا<br> Original Amount

                        </th> -->
                        <th>المبلغ الإجمالي المتبقي (درهم)<br> Outstanding Amount (AED)

                        </th>
                        <th style="text-align: right;">الأقساط المتبقية<br> Instalment Pending

                        </th>
                        <th style="text-align: right;">المدة الزمنية<br> Tenor

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instalment of installmentDetails">
                        <td>{{instalment.statementDate}}</td>
                        <td>{{instalment.outstanding}}</td>


                        <td style="text-align: right;">
                            {{instalment.pendingInstallments}}
                        </td>
                        <td style="text-align: right;">
                            {{instalment.tenor}}
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>


    </div>