    * {
        font-family: Moderat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    
    .title-heading {
        font-size: 19px;
    }
    
    hr {
        border: 1px solid;
    }
    
    label {
        display: inline-block;
        font-size: 12px;
        margin-bottom: 0;
    }
    
    .row {
        font-size: 12px;
    }
    /* .mat-table {
    width: 100%;
    background-color: rgb(243, 243, 243) !important;
} */
    /* .mat-header-cell {
    font-weight: bold;
} */
    
    .mat-cell {
        font-size: 12px;
    }
    
    .mat-paginator {
        background-color: #FAFAFA !important;
    }
    
    .hide {
        display: none;
    }
    
    .mat-footer-row .mat-footer-cell {
        justify-content: center;
        font-style: italic;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0rem;
        /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    }
    
    .img-container {
        margin: 3%;
        position: relative;
    }
    
    .first-txt {
        position: absolute;
        top: 33px;
        left: 10%;
    }
    
    .last-txt {
        position: absolute;
        top: 33px;
        left: 85%;
        text-align: right;
    }
    
    button {
        display: block;
        width: 100%;
        height: calc(1.50em + .75rem + 1.25px);
        margin-left: 0;
        border: 1px solid #6E3DEA !important;
        box-sizing: border-box;
        background: #FAFAFA;
        font-size: 12px;
    }
    
    .cr-color {
        color: #6E3DEA !important;
    }
    
    #button-cont button {
        width: 100px;
        height: 40px;
        color: white;
        display: block;
        margin-top: 0;
        text-align: center;
        border-radius: 0;
        margin-left: 30px;
        font-size: 12px;
        background: #6E3DEA !important;
    }
    
    .profile-card {
        text-align: center;
        height: 60px;
    }
    
    .profile-card>div>div>div>div>.title {
        font-size: 10px;
        color: gray;
    }
    
    .profile-card>div>div>div>div>.value {
        font-size: 15px;
        font-weight: bold;
    }
    
    .profile-card>div>div>div>div>a {
        text-decoration: none;
        color: white;
        display: block;
        width: 100px;
        height: 40px;
        text-align: center;
        background: rgb(110, 61, 234);
        padding-top: 11px;
        /* padding: 5px 0;
    margin-top: 10px; */
    }
    
    hr {
        display: block;
        color: rgb(243, 243, 243);
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.12);
        width: 100%
    }
    
    .row::after,
    .row::before {
        display: table;
        content: " ";
    }
    
    .loginbtnpdf {
        height: 33px;
        margin-top: 20px;
        background: #6E3DEA !important;
        cursor: pointer;
        color: #fff;
        border: none;
        padding: 10px;
        left: 145px;
        text-decoration: none;
        outline: none;
    }
    
    .transactiontable {
        margin-top: 25px;
        /* border-collapse: unset;
    border: none !important; */
    }
    
    i:hover {
        color: #6E3DEA;
    }
    
    th {
        cursor: pointer;
    }
    
    a.epp {
        color: #6E3DEA;
        cursor: pointer;
        justify-content: center;
        text-align: center;
    }
    
    a.epp:hover {
        text-decoration: underline;
    }
    
    #epp-button button {
        width: 200px;
        height: 40px;
        color: white;
        display: block;
        margin-top: 0;
        text-align: center;
        border-radius: 0;
        margin-left: 0;
        font-size: 12px;
        background: #6E3DEA !important;
    }
    
    #epp-button a {
        color: #6E3DEA !important;
        text-decoration: none;
        font-size: 12px;
        width: 140px;
        margin-left: 0;
        margin-top: 0;
    }
    
    #epp-button a:hover {
        text-decoration: underline;
    }
    
    .mobile-label {
        display: none;
    }
    
    .padding-left {
        padding-left: 10px;
    }
    /* .inputContainer i {
    position: absolute;
    width: 78%;
    text-align: right;
    padding-top: 5px;
}

.inputContainer {
    width: 100%;
    margin-top: 5px;
} */
    /* input tag style starts */
    
    .inputContainer {
        position: relative;
        /* padding:0;
    margin:0; */
    }
    
    #input {
        /* height:20px; */
        /* margin:0; */
        padding-left: 30px;
        /* margin-top: -13%; */
    }
    /* #input-img {
    position:absolute;
    bottom:1%;
    left:20%;
    top: 5%;
} */
    /* input tag style ends */
    
    .icon {
        padding: 10px;
        width: 85%;
        text-align: right;
    }
    
    .fecha input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        position: relative;
        opacity: 1;
        cursor: pointer;
    }
    
    .calendar {
        position: absolute;
        padding-top: 5px;
        left: 75%;
    }
    
    input[type="date"]+.calendar {
        display: none;
    }
    
    example-container {
        display: flex;
        flex-direction: column;
        background-color: #FAFAFA !important;
    }
    
    .mat-table {
        overflow: auto;
        background-color: #FAFAFA !important;
    }
    
    .example-container {
        display: flex;
        flex-direction: column;
        background-color: #FAFAFA !important;
    }
    
    mat-table {
        overflow: auto;
        background-color: #FAFAFA !important;
        font-size: 12px;
    }
    
    mat-header-cell,
    mat-header-row,
    .mat-header-cell-def {
        /* min-height: 30px; */
        color: #000000DE;
        margin-bottom: 5px;
        position: sticky;
    }
    
    mat-row {
        /* min-height: 30px; */
        font-size: 12px;
    }
    
    mat-cell {
        /* height: 30px; */
        font-size: 13px;
    }
    
    .mat-column-date {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 14% !important;
        width: 14% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-column-postingDate {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 14% !important;
        width: 14% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-column-description {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 38% !important;
        width: 38% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-column-currencyType {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 22% !important;
        width: 22% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: flex-end;
    }
    
    .mat-column-amount {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 12% !important;
        width: 12% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        justify-content: flex-end;
    }
    
    .align-right {
        display: flex;
        padding: 15px 0;
        justify-content: flex-end;
    }
    
    .epp {
        width: 258px;
        height: 40px;
        background: #6E3DEA;
        text-align: center;
        text-transform: uppercase;
        line-height: 16.8px;
        letter-spacing: 0.32px;
        padding-top: 12px;
        margin-top: 87px;
        margin-left: -152px;
        margin-bottom: 18px;
        text-decoration: none;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        box-sizing: border-box;
        margin-top: 25px;
        overflow: scroll;
        display: table;
    }
    
    tr {
        /* border-top-color: rgba(0, 0, 0, 0.12); */
        border-bottom: 0.6px solid rgba(0, 0, 0, 0.12);
        ;
    }
    
    td {
        display: table-cell;
        vertical-align: inherit;
    }
    /* #trnsTable tr {
        /* height: 40px; */
    /* } */
    
    #trnsTable tr.row-height td {
        display: table-cell;
        vertical-align: top;
        height: 70px;
    }
    
    #trnsTable tr.row-height-m {
        height: 160px;
    }
    
    .table-container {
        width: 100%;
        overflow-y: auto;
        _overflow: auto;
        margin: 0 0 1em;
    }
    
    .calendar-input {
        position: relative;
        width: 100%;
    }
    
    .calendar-input input {
        display: block;
        width: 100%;
        box-sizing: border-box
    }
    
    .calendar-input img {
        position: absolute;
        top: 7px;
        right: 7px
    }
    
    .button-absolute {
        position: absolute;
    }
    
    .text-relative {
        position: relative;
    }
    
    .row:before,
    .row:after {
        display: none !important;
    }
    
    @media only screen and (max-width: 736px) and (orientation: portrait) {
        mat-header-row,
        mat-row {
            width: 200%;
        }
        mat-row {
            font-size: 11px;
        }
        mat-cell {
            font-size: 11px;
        }
    }
    
    @media only screen and (min-width: 768px) and (orientation: portrait) {
        .profile-card {
            height: 75px;
        }
    }
    
    @media only screen and (min-width:1024px) and (orientation: landscape) {
        .profile-card {
            height: 75px;
        }
    }
    
    @media only screen and (max-width: 740px) and (orientation: landscape) {
        .profile-card {
            height: 100px;
        }
        #button-cont button {
            margin-left: 30px;
        }
        .row-small-screen {
            display: table;
            /* margin-right: -15px;
        margin-left: -15px; */
        }
        .columnpadding {
            display: table-cell;
        }
        div.col-md-5.columnpadding {
            padding-top: 0;
        }
    }
    /* @media (max-width: 1366px) {
        .profile-card {
            height: 80px;
        }
    } */
    
    @media only screen and (max-width: 600px) and (orientation: portrait) {
        .profile-card {
            height: 180px;
        }
        #button-cont button {
            margin-left: 25px;
        }
        .row-small-screen {
            display: table;
            width: 100%;
            table-layout: fixed;
            margin-right: -15px;
            margin-left: -15px;
        }
        .columnpadding {
            display: table-cell;
        }
    }
    
    @media (max-width: 750px) {
        .calendar-input img {
            position: absolute;
            top: 7px;
            left: 230px;
        }
        .form-control {
            width: 260px;
            /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
        }
        .calendar-input .form-control {
            width: 260px;
        }
        button {
            width: 260px;
        }
        #epp-button a {
            color: #6E3DEA !important;
            display: block;
            text-decoration: none;
            font-size: 10px;
        }
        #trnsTable tr.row-height td {
            display: table-cell;
            vertical-align: top;
            height: 110px;
            box-sizing: unset;
        }
    }
    
    @media (max-width: 740px) and (orientation: landscape) {
        .row-small-screen {
            display: table;
            width: 100%;
            table-layout: fixed;
            margin-right: -15px;
            margin-left: -15px;
        }
        .columnpadding {
            display: table-cell;
        }
        .calendar-input img {
            position: absolute;
            top: 7px;
            left: 160px;
        }
        .form-control {
            width: 190px;
            /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
        }
        .calendar-input .form-control {
            width: 190px;
        }
        button {
            width: 190px;
        }
    }
    /* .transactiontable table {
    margin-top: 25px;
    border-collapse: unset;
    border: none !important;
} */
    /* th:nth-child(1) {
    padding: 1rem 5px;
} */
    /* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: consolas, monospace;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */
    
    @media(max-width:500px) {}