<div class="profile-card">
    <div class="row row-small-screen">

        <div class="col-md-7 columnpadding">
            <div class="row">
                <div class="col-md-4">
                    <label class="title">{{profileDetails.creditCardDetails[0].cardType}}</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].primaryCardNumber}}</p>
                </div>
                <div class="col-md-4">
                    <label class="title">Statemnt amount due</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].totalPaymentDue}}</p>
                </div>
                <div class="col-md-4">
                    <label class="title">Min amount due</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].minimumPaymentDue}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 columnpadding">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><label class="title">Payment due date</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].paymentDueDate}}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="button-cont">
                    <button class="btn" (click)="payNow()">Pay Now</button>
                    <!-- <a [routerLink]="">PAY NOW</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 87vh;">
    <div style="margin-bottom: 10px;">
        <mat-divider></mat-divider>
    </div>

    <div class="row" style="margin-bottom: 15px; margin-top: 5px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                    <p class="heading">Easy Payment Plan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" class="remainbalance" style="margin-bottom: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                    <p style="font-size: 10px;color: gray;margin-left: 1.5%;">Amount</p>
                    <p style="font-weight: bold; font-size: 15px; margin-top: -15px;margin-left: 1.5%;">AED {{parsedData.amount}}</p>
                    <p style="font-size: 10px;margin-left: 1.5%;">Choose Repayment Period (Months)</p>

                    <select class='select-option' id="wgtmsr" required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)' name="something">
                            <option [ngValue]="undefined" disabled>Choose period(months)</option>
                            <option class='option' *ngFor='let option of eppTransactions' [ngValue]="option">{{option.tenor}}</option>
                        </select>
                    <p style="color: red;" *ngIf="isDropDownValueSelected">Please select the tenor</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px; margin-top: 5px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                    <p class="heading" style="margin-top: 30px;">Your Easy Payment Offer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" class="remainbalance" style="margin-bottom: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-size: 10px;color: gray;margin-left: 7%;">Monthly Instalment Amount</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-size: 10px;color: gray;margin-left: 7%;">Processing Fee (One-Time)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-weight: bold; font-size: 12px;margin-top: -15px;margin-left: 7%;">AED {{instalmentAmount}}</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-weight: bold; font-size: 12px;margin-top: -15px;margin-left: 7%;">{{processinfFee}}</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-size: 10px;color: gray;margin-left: 7%;">Fixed Monthly Interest Rate</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-size: 10px;color: gray;margin-left: 7%;">Foreclosure Fee</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-weight: bold; font-size: 12px;margin-top: -15px;margin-left: 7%;">{{fixedMonthyInterest}}</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                    <p style="font-weight: bold; font-size: 12px;margin-top: -15px;margin-left: 7%;">{{foreClosureFee}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px; margin-top: 5px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                    <input type="checkbox" id="TandC" name="TandC" (change)="onCheck($event)" style="margin-top: 5px; color: #6E3DEA;margin-left: 5%;">
                    <label for="TandC" style="margin-top: -10px;margin-left: 15px;"> I agree to the <span style="color: #6E3DEA;"><a href="https://deem.io/cards/epp" target="_blank" >Terms and Conditions</a></span></label><br>
                    <p style="color: red;margin-left: 18px;" *ngIf="checkBoxSelected">Please accept the terms and conditions</p>

                </div>
                <div id="backButton" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a target="_blank" (click)="back()" class="back-btn">BACK</a>
                    <a target="_blank" class="acpt-btn" (click)="acceptOffer()">ACCEPT OFFER</a>
                </div>
            </div>
            <p style="text-align: center;color: red;" *ngIf="enableEppError">{{eppError}}</p>
        </div>

    </div>
</div>