* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

button {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-left: 0;
    border: 1px solid #6E3DEA !important;
    box-sizing: border-box;
    background: #FAFAFA;
}

#button-cont button {
    width: 100px;
    height: 40px;
    color: white;
    display: block;
    margin-top: 0;
    text-align: center;
    border-radius: 0;
    margin-left: 30px;
    font-size: 12px;
    background: #6E3DEA !important;
}

.profile-card {
    text-align: center;
    height: 60px;
}

.profile-card>div>div>div>div>.title {
    font-size: 10px;
    color: gray;
}

.profile-card>div>div>div>div>.value {
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
}

.profile-card>div>div>div>div>a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    background: rgb(110, 61, 234);
    padding-top: 11px;
    /* padding: 5px 0;
    margin-top: 10px; */
}


/* .row::after,
.row::before {
    display: table;
    content: " ";
} */

.heading {
    font-size: 15px;
    font-weight: bold;
    margin-left: 4%;
}

#wgtmsr {
    width: 50%;
    height: 25px;
    /* color: rgb(110, 61, 234);  */
    /* border: 1px solid #6E3DEA; */
    background-color: #FAFAFA;
    margin-top: -10px;
    margin-left: 1.5%;
}

.back-btn {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30%;
}

.back-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.acpt-btn {
    margin-left: 20px;
    padding: 5px 10px;
    background: #6E3DEA;
    color: white;
    font-size: 0.7rem;
    margin-left: 5%;
    text-decoration: none;
}

.acpt-btn:hover {
    cursor: pointer;
}

.row:before,
.row:after {
    display: none !important;
}

#backButton {
    text-align: center;
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .columnpadding {
        display: table-cell;
        padding-right: 0;
        margin-top: 0;
    }
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .back-btn {
        margin-left: 5%;
    }
    #backButton {
        text-align: start;
        margin-top: 15px;
    }
    #button-cont button {
        margin-left: 0;
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .profile-card {
        height: 75px;
    }
}

@media only screen and (min-width:1024px) and (orientation: landscape) {
    .profile-card {
        height: 75px;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .profile-card {
        height: 180px;
    }
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .back-btn {
        margin-left: 5%;
    }
    #backButton {
        text-align: start;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .profile-card {
        height: 100px;
    }
    #button-cont button {
        margin-left: 30px;
    }
    .row-small-screen {
        display: table;
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
        /* margin-right: -15px;
    margin-left: -15px; */
    }
    .columnpadding {
        display: table-cell;
    }
    div.col-md-5.columnpadding {
        padding-top: 0;
    }
}