/* * {
    font-family: Moderat;
} */

a {
    text-decoration: none;
    color: white;
}

.deem-icon {
    mix-blend-mode: multiply;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    /* Ensure that your app's content doesn't overlap the toolbar */
    z-index: 1071;
    background: #F6F6F6;
}

button:focus {
    outline: none;
}

button {
    background-color: #F6F6F6;
}

.spacer {
    flex: 1 1 auto;
}

@media(max-width:959px) {
    .mat-toolbar {
        border-radius: 0px;
    }
}