<!-- <nav class="navbar navbar-default navbar-static-top" style="background-color: rgb(243, 243, 243) !important;">

    <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>


</nav> -->

<mat-toolbar class="mat-elevation-z1">

    <span> <img class="img-fluid" style="width:100px;" src="/assets/images/logo.svg"></span>
    <div class="spacer"></div>
    <!-- <mat-icon style="margin-right:0;">menu</mat-icon> -->
    <span><i><img class="deem-icon"  id="menu" (click)="onToggleSidenav()" src="/assets/icons/menu-icon.png" alt="" width="40px" height="30px"></i></span>


</mat-toolbar>