<!-- tax invoice starts -->
<div>
    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-md-12 columnpadding">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                        <label class="heading">Tax Invoice</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                        <label class="heading">فاتورة ضريبية</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tax invoice ends -->
<div style="min-height: 87vh">
    <div *ngIf="profileDetails.creditCardDetails.length > 0">
        <div class="row" class="remainbalance" style="margin-bottom: 15px;">

            <div class="row row1">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                    <p class="title-heading">Deem Credit Card</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                    <p class="title-heading">بطاقة ديم الإئتمانية</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Invoice Date:</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{statementDate}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>تاريخ الفاتورة</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Services Eligible for Value Added Tax:</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">

                    <a routerLink="/statement/credit-card" style="color: black;text-decoration: underline;">As described in the list of transactions</a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>الخدمات المؤهلة لقيمة الضريبة المضافة</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Total Fees Eligible for Value Added Tax:</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                    <p>AED {{vatInvoice.creditCardTaxDetail.totalEligibleTax}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>إجمالي الرسوم المؤهلة لقيمة الضريبة المضافة</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Total Value Added Tax for the Period</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                    <p>AED {{vatInvoice.creditCardTaxDetail.totalValueAddedTax}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>إجمالي ضريبة القيمة المضافة للفترة</p>
                </div>
            </div>

        </div>
    </div>
    <!--  -->

    <div *ngIf="profileDetails.personalLoanSummary != null">
        <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null ">
            <div class="row" class="remainbalance" style="margin-bottom: 15px;">

                <div class="row row1">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                        <p class="title-heading">Deem Personal Loan</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                        <p class="title-heading">قرض ديم الشخصي</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                        <p>Invoice Date:</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                        <p>{{statementDate}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                        <p>تاريخ الفاتورة</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding">
                        <p>Services Eligible for Value Added Tax:</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: center;">
                        <!-- <p>
                    Processing Fee,Fee for Early Settlement of Loan, Loan Rescheduling Fee,Fee for Liability Letter and No Liability Certificates,Partial Payment Charges,Loan Top-Up Fee,Delayed Payment Penal Interest Charges, Loan Cancellation Fee and Deem Credit Life Plus
                </p> -->
                        <p>All Deem fees and charges billed during the statement period*</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 columnpadding" style="text-align: right;">
                        <p>الخدمات المؤهلة لقيمة الضريبة المضافة</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                        <p>Total Fees Eligible for Value Added Tax:</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                        <p>AED {{profileDetails.personalLoanSummary.totalEligibleTax}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                        <p>إجمالي الرسوم المؤهلة لقيمة الضريبة المضافة</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                        <p>Total Value Added Tax for the Period</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                        <p>AED {{profileDetails.personalLoanSummary.totalValueAddedTax}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                        <p>إجمالي ضريبة القيمة المضافة للفترة</p>
                    </div>
                </div>


            </div>
            <div class="row" class="remainbalance" style="margin-bottom: 15px;">

                <div class="row row1">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                        <p class="title-heading">Deem Fees and Charges </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                        <p class="title-heading">رسوم و نفقات ديم</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                        <!-- <p> Processing Fee,Fee for Early Settlement of Loan, Loan Rescheduling Fee,Fee for Liability Letter and No Liability Certificates,Partial Payment Charges,Loan Top-Up Fee,Delayed Payment Penal Interest Charges, Loan Cancellation Fee
                            and Deem Credit Life Plus</p> -->
                        <p>* Please visit <span><a href="https://deem.io/fees" target="_blank" style="text-decoration: underline; color:#000000DE">https://deem.io/fees</a></span> for more details on Schedule of fees and charges’</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>