* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: #6E3DEA;
    margin-left: 10px;
    margin-top: 5px;
}

.title-heading {
    font-size: 19px;
    color: black;
}


/* .row::after,
.row::before {
    display: table;
    content: " ";
} */

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.row:before,
.row:after {
    display: none !important;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
}