<div class="profile-card">
    <div class="row row-small-screen">

        <div class="col-md-12 columnpadding">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                    <label class="heading">Rewards / Spend Analyzer</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                    <label class="heading">مكافآت بطاقة الائتمان \ محلل الإنفاق</label>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-tab-group class="remove-border-bottom">
    <!-- #enddocregion dynamic-height -->
    <mat-tab label="Credit Card">
        <div style="min-height: 88vh;">
            <div class="remainbalance" style="margin-bottom: 15px;margin-top: 15px;">
                <p class="title-heading">Spend Categories
                    <span class="title-heading" style="float:right">فئات الإنفاق</span>
                </p>
                <div class="flex-wrapper">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart default">
                    <path class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                      [attr.stroke-dasharray]="airlines + ', ' + circumference"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{rewardDetails.airlinesSpentPer}}%</text>
                  </svg>
                        <label style="margin-left: 35%;">الرحلات الجوية </label>
                        <label style="margin-left: 35%;">Airlines</label>

                    </div>

                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart default">
                    <path class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                      [attr.stroke-dasharray]="hotels + ', ' + circumference"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{rewardDetails.hotelsSpentPer}}%</text>
                  </svg>
                        <label style="margin-left: 35%;">الفنادق </label>
                        <br>
                        <label style="margin-left: 35%;">Hotels</label>
                    </div>

                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart default">
                    <path class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                      [attr.stroke-dasharray]="entertainments + ', ' + circumference"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{rewardDetails.entertainmentSpentPer}}%</text>
                  </svg>
                        <label style="margin-left: 35%;">الترفيه</label>
                        <label style="margin-left: 35%;">Entertainments</label>
                    </div>

                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart default">
                    <path class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                      [attr.stroke-dasharray]="otherSpend + ', ' + circumference"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{rewardDetails.othersSpentPer}}%</text>
                  </svg>
                        <label style="margin-left: 35%;">النفقات الأخرى</label>
                        <label style="margin-left: 35%;">Other Spends</label>
                    </div>
                </div>
            </div>
            <div class="remainbalance">
                <p class="title-heading">Rewards Earned
                    <span class="title-heading" style="float:right">المكافآت المكتسبة</span>
                </p>



                <!--Rewards Earned-->
                <div class="table-container">
                    <table id="trnsTable" cellspacing="5" cellpadding="10">
                        <thead>
                            <tr>
                                <th style="text-align:left">فئات الإنفاق<br>Spend Categories

                                </th>
                                <th style="text-align:center">مبلغ الإنفاق<br> Amount Spend

                                </th>
                                <th style="text-align:right">المكافآت المكتسبة<br> Reward Earned

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:left">Airlines, Hotels, Entertainment, Other Spends </td>
                                <td style="text-align:center">{{rewardDetails.amountSpent}}</td>
                                <td style="text-align:right;">
                                    {{rewardDetails.rewardsEarned}}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Bonus Rewards</td>
                                <td style="text-align:center">---</td>
                                <td style="text-align:right;">
                                    {{rewardDetails.rewardsEarned}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="remainbalance">
                <p class="title-heading">Summary of Reward Points
                    <span class="title-heading" style="float:right"> ملخص نقاط المكافآت</span>
                </p>

                <div class="table-container">
                    <table id="trnsTable" cellspacing="5" cellpadding="10">
                        <thead>
                            <tr>
                                <th>رصيد الأشهر السابقة (درهم)<br>Previous Months Balance (AED)

                                </th>
                                <th>المكتسب (درهم)<br> Earned (AED)

                                </th>
                                <th>تم شراؤها (درهم) <br> Purchased (AED)

                                </th>
                                <th style="text-align: right;">النقاط المستبدلة (درهم) <br> Redeemed (AED)

                                </th>
                                <th style="text-align: right;">الرصيد المتاح (درهم)<br> Available Balance (AED)

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{rewardDetails.openingBalance}}</td>
                                <td>{{rewardDetails.earnedAed}}</td>
                                <td>
                                    {{rewardDetails.purchasedAed}}
                                </td>
                                <td style="text-align: right;">
                                    {{rewardDetails.redeemedAed}}
                                </td>
                                <td style="text-align: right;">
                                    {{rewardDetails.availableBalance}}
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Everyday Account">
        <ng-template matTabContent>
            <div class="example-large-box mat-elevation-z4">
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-4" style="padding-bottom: 10px;">

                        <table>
                            <thead>
                                <tr>
                                    <th>Rewards Summary</th>
                                    <th>Points</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Total Points earned in current cycle</td>
                                    <td>136.99</td>

                                </tr>
                                <tr>

                                    <td>Balance points from previous months</td>
                                    <td>595.43</td>

                                </tr>
                                <tr>

                                    <td>Total Redeemed Points</td>
                                    <td>0.00</td>

                                </tr>
                                <tr>

                                    <td>Total available points</td>
                                    <td>732.42</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">

                        <app-up-points-chart></app-up-points-chart>

                    </div>
                    <div>
                        <div class="row" style="padding: 2%">
                            <div class="col-md-12">
                                <p style="font-size:10pt;"><b>Summary of Reward Points</b></p>
                                <div class="smallTable1">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Opening Balance</th>
                                                <th>Earned</th>
                                                <th>Purchased</th>
                                                <th>Redeemed</th>
                                                <th>Available Balance</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td data-label="Opening Balance">595.43</td>
                                                <td data-label="Earned">136.99</td>
                                                <td data-label="Purchased">0.00</td>
                                                <td data-label="Redeemed">0.00</td>
                                                <td data-label="Available Balance">732.42</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab> -->
</mat-tab-group>