* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.title-heading {
    font-size: 19px;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
    overflow: scroll;
    display: table;
}

tr {
    /* border-top-color: rgba(0, 0, 0, 0.12); */
    border-bottom: 0.6px solid rgba(0, 0, 0, 0.12);
    ;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

#trnsTable tr {
    height: 40px;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 200px;
}

.circle-bg {
    fill: none;
    stroke: #27272E;
    stroke-width: 2.0;
}

.circle {
    fill: none;
    stroke-width: 2.0;
    stroke-linecap: square;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.default .circle {
    stroke: #6E3DEA;
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #27272E;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: #6E3DEA;
    margin-left: 10px;
    margin-top: 5px;
}

example-container {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA !important;
}

.mat-table {
    overflow: auto;
    background-color: #FAFAFA !important;
}

.example-container {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA !important;
}

mat-table {
    overflow: auto;
    background-color: #FAFAFA !important;
    /* font-size: 12px; */
}

mat-header-cell,
mat-header-row,
.mat-header-cell-def {
    min-height: 40px;
    color: #000000DE;
    margin-bottom: 5px;
    position: sticky;
}

mat-row {
    min-height: 40px;
    /* font-size: 12px; */
}

mat-cell {
    height: 40px;
}

.mat-column-categories {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 33.3% !important;
    width: 33.3% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-amountSpent {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 33.3% !important;
    width: 33.3% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-rewardEarned {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 33.3% !important;
    width: 33.3% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    label {
        font-size: 10px;
        margin-left: 30px;
    }
}