<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="generatePDF('download')">
            <!-- <img *ngIf="isLoading" src="/assets/images/spinner1.gif" style="width: 25px;" >--> Download Statement</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="generatePDF('print')">Print
            Statement</button>
        <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="generatePDF()">Open
            Statement</button>
    </div>
</div>