* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

button {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-left: 0;
    border: 1px solid #6E3DEA !important;
    box-sizing: border-box;
    background: #FAFAFA;
}

#button-cont button {
    width: 100px;
    height: 40px;
    color: white;
    display: block;
    margin-top: 0;
    text-align: center;
    border-radius: 0;
    margin-left: 30px;
    font-size: 12px;
    background: #6E3DEA !important;
}

.profile-card {
    text-align: center;
    height: 60px;
}

.profile-card>div>div>div>div>.title {
    font-size: 10px;
    color: gray;
}

.profile-card>div>div>div>div>.value {
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
}

.profile-card>div>div>div>div>a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    background: rgb(110, 61, 234);
    padding-top: 11px;
    /* padding: 5px 0;
    margin-top: 10px; */
}

.row::after,
.row::before {
    display: table;
    content: " ";
}

.heading {
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
}

.trans-btn {
    padding: 7px 14px;
    background: #6E3DEA;
    color: white;
    font-size: 0.7rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row:before,
.row:after {
    display: none !important;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .profile-card {
        height: 75px;
    }
}

@media only screen and (min-width:1024px) and (orientation: landscape) {
    .profile-card {
        height: 75px;
    }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .profile-card {
        height: 100px;
    }
    .row-small-screen {
        display: table;
        /* margin-right: -15px;
    margin-left: -15px; */
    }
    #button-cont button {
        margin-left: 30px;
    }
    .columnpadding {
        display: table-cell;
    }
    div.col-md-5.columnpadding {
        padding-top: 0;
    }
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .back-btn {
        color: black;
        font-weight: bold;
        text-decoration: none;
        /* margin-left: 30%; */
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .profile-card {
        height: 180px;
    }
    #button-cont button {
        margin-left: 25px;
    }
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (max-width: 740px) and (orientation: landscape) {
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
}