<div class="profile-card">
    <div class="row row-small-screen">

        <div class="col-md-7 columnpadding">
            <div class="row">
                <div class="col-md-4">
                    <label class="title">{{profileDetails.creditCardDetails[0].cardType}}</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].primaryCardNumber}}</p>
                </div>
                <div class="col-md-4">
                    <label class="title">Statemnt amount due</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].totalPaymentDue}}</p>
                </div>
                <div class="col-md-4">
                    <label class="title">Min amount due</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].minimumPaymentDue}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 columnpadding">
            <div class="row">
                <div class="col-md-8"><label class="title">Payment due date</label>
                    <p class="value">{{profileDetails.creditCardDetails[0].paymentDueDate}}</p>
                </div>
                <div class="col-md-4" id="button-cont">
                    <button class="btn" (click)="payNow()" type="button">Pay Now</button>
                    <!-- <a [routerLink]="">PAY NOW</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 10px;">
    <mat-divider></mat-divider>
</div>
<div style="min-height: 87vh">
    <div class="row" style="margin-bottom: 15px; margin-top: 5px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                    <p class="heading">Easy Payment Plan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" class="remainbalance" style="margin-bottom: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                    <!-- <p style="font-size: 10px;color: gray;">Amount</p> -->
                    <p style="font-weight: bold; font-size: 15px;">Thank you!</p>
                    <p>We have received your request. You will receive a confirmation shortly.</p>
                    <a routerLink="/statement/credit-card" class="trans-btn">BACK TO TRANSACTION DETAILS</a>
                </div>
            </div>
        </div>
    </div>
</div>