<!-- <div class="termscondition">
    <div class="row pagePadding">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left">
            <span>
        <p><b>Important notes:</b>

    </p>

    </span>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="direction:rtl">
            <span>
        <p><b>ملاحظات هامة:</b>

        </p>
    </span>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
            <p><b>1.</b></p>
        <p><b>Minimum payment due:</b> You may pay your card balance in full or in partial payments. If you make a partial payment, you must pay at least the minimum amount due each month by the payment due date. Interest will be applicable if payments are not made in full


        </p>

        </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
            <p><b>١.

            </b></p>
            <p><b>الحد الأدنى للدفع المستحق:</b>
              يمكنك دفع رصيد بطاقتك بالكامل أو على دفعات، وإذا قمت بالسداد جزئياً يجب أن تدفع على الأقل الحد الأدنى للمبلغ المستحق كل شهر بحلول تاريخ استحقاق الدفع. سيتم تطبيق الفائدة إذا لم يتم السداد بالكامل.
          </p>
        </span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                <p><b>2.</b></p>
            <p><b>Total cash limit:</b> This limit reflects the amount that can be withdrawn by you in cash.
            </p>

            </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                <p><b>٢.

                </b></p>
                <p><b>إجمالي النقد المتاح:</b>
                  ينطبق هذا الحد على المبلغ الذي يمكن سحبه نقدًا.
                </p>
            </span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                    <p><b>3.</b></p>
                <p><b>Total credit limit:</b> This is the limit available for you to make purchases.
                </p>
    
                </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                    <p><b>٣.
                    </b></p>
                    <p><b>إجمالي الرصيد المتاح:</b>
                        هذا هو الحد المتاح لك لسداد مشترياتك.
                    </p>
                </span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                        <p><b>4.</b></p>
<p>Pursuant to united states government sanctions against certain countries,
MasterCard® has advised that it will refuse to authorize card transactions
originating in sanctioned countries. While the sanctions are in effect, you will not
be able to use your Deem MasterCard® credit card in sanctioned countries.								</p>
        
                    </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                        <p><b>٤.

                    </b></p>
                        <p>
                            وفقًا للعقوبات التي تفرضها حكومة الولايات المتحدة ضد دول معينة ،أفادت ماستر كارد®  بأنها سترفض السماح بإجراء معاملات البطاقة الناشئة في البلدان الخاضعة للعقوبات. أثناء سريان العقوبات ، لن تتمكن من استخدام بطاقة ديم ماستر كارد® الائتمانية الخاصة بك في البلدان الخاضعة للعقوبات.	</p>
                    </span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                            <p><b>5.</b></p>
                        <p>In line with central bank regulations, Deem is required to ensure that we keep updated and valid records of all our customers, it is therefore your responsibility to provide Deem with your renewed ID documents including, but not limited to passport, residence visa, Emirates ID and ensure that you keep your personal data including contact information updated at all times. You are required to immediately update us of any changes in your license where applicable, contact details, including, but not limited to, e-mail address(es), telephone number(s), employment status, etc. Please send your updated information by the registered email to <a href="https://customercare@deem.io" target="_blank">customercare@deem.io</a> or call 800 3366.
                     </p>
            
                        </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                            <p><b>٥.
                                  </b></p>
                            <p>

                              بالتوافق مع لوائح البنك المركزي يتعين على ديم التأكد من الاحتفاظ بسجلات محدثة و صالحة لجميع عملائنا، و لذلك يُرجى منك أن تزود ديم بوثائق هويتك المحدثة بما في ذلك جواز السفر و تأشيرة الإقامة و رقم الهوية الإماراتية، و التأكد من بقاء بياناتك الشخصية بما في ذلك بيانات الاتصال محدثة في جميع الأوقات، و يتعين عليك إخطارنا على الفور بأي تغيير يطرأ على الرخصة الخاصة بك عند الحاجة لذلك، بالإضافة إلى بيانات الاتصال و التي تشمل عناوين البريد الإلكتروني و أرقام الهاتف و الحالة الوظيفية. يُرجى إرسال معلوماتك المحدثة على عنوان البريد المسجل  <a href="https://customercare@deem.io" target="_blank">customercare@deem.io</a> أو الإتصال على 6633 800.

</p>
                        </span>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                <p><b>6.</b></p>
                            <p>Terms and conditions apply. Visit <a href="https://www.deem.io" target="_blank">www.deem.io</a> to view T&amp;Cs and applicable fees and charges.
                            </p>
                
                            </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                <p><b>٦.
                                      </b></p>
                                <p>
                                    تُطبق الشروط والأحكام. يُرجى زيارة <a href="https://www.deem.io" target="_blank">www.deem.io</a> لمطالعة الشروط والأحكام والرسوم.
                                </p>
                            </span>

        </div>

    </div>


    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left">
            <span>
                                    <p><b>Insurance products:</b>
                
                                </p>
                    
                                </span>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="direction:rtl">
            <span>
                                    <p><b>منتجات التأمين:
                                    </b>
                
                                    </p>
                                </span>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                        <p><b>1.</b></p>
                                    <p>
                                        <b>Deem Double Secure:</b> An insurance plan which protects your credit card’s outstanding and extends an equivalent amount to you or your nominee in the unfortunate event of Death or Critical Illness of the primary credit card holder. The plan also pays 10% of your credit card’s outstanding in the event of Involuntary Loss of Employment. Further, in the event of an accident, the plan extends benefits such as Hospital Cash Benefit of AED 100/day and Ambulance/Taxi Fare of up to AED 500 subject to Terms &amp; Conditions. Deem Double Secure comes with a free look period of 30 days. More details on the product are available on <a href="https://www.deem.io/cards/cash-up" target="_blank">www.deem.io/cards/cash-up</a> and <a href="https://www.deem.io/cards/miles-up" target="_blank">www.deem.io/cards/miles-up</a>.
                                    </p>
                        
                                    </span>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                        <p><b>١.
                    
                                        </b></p>
                                        <p><b>الأمان المزدوج من ديم:</b>
                                          خطة تأمين تحمي بطاقة الائتمان الخاصة بك المستحقة و توسع مبلغاً معادلاً لك أو لمرشحك في حالة الوفاة أو الأمراض الحرجة لصاحب بطاقة الائتمان الأساسية. تدفع الخطة أيضا 10٪ من بطاقة الائتمان المستحقة في حالة الفقدان القسري للوظيفة. علاوة على ذلك ، في حالة وقوع حادث ، تقوم الخطة بتمديد المزايا مثل ميزة الاستشفاء النقدية بقيمة 100 درهم في اليوم وأجرة سيارة الإسعاف / التاكسي التي تصل إلى 500 درهم وفقًا للشروط والأحكام. الأمان المزدوج من ديم تأتي مع فترة نظرة مجانية مدتها 30 يومًا. المزيد من التفاصيل حول المنتج متوفرة على <a href="https://www.deem.io/cards/cash-up" target="_blank">www.deem.io/cards/cash-up</a> و  <a href="https://www.deem.io/cards/miles-up" target="_blank">www.deem.io/cards/miles-up</a>

                                        </p>
                                    </span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                                    <p><b>2.</b></p>
                                                <p>
                                                <b>Deem Credit Life Plus:</b> 
                                                Deem Credit Life Plus is an insurance plan which comes packaged with your Deem loan and protects your loan’s outstanding in the unfortunate
                                                event of Death and Terminal Illness. The plan also provisions for Repatriation due to Death, by taking care of the repatriation expenses of the
                                                deceased loan customer to their country of origin, subject to Terms &amp; Conditions. For more details, visit <a href="https://www.deem.io/loans/personal" target="_blank">www.deem.io/loans/personal</a>.
                                                
                                                
                                                    
                                                    </p></span></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="direction:rtl">
            <span style="display:-webkit-box;display:-ms-flexbox">
                                                    <p><b>٢.

                                                    </b></p>
                                                    <p><b>أمان الحياة بلاس من ديم 
:
                                                    </b>
                                                    هي خطة تأمين تأتي مع قرض ديم الخاص بك وتحمي
                                                    قرضك المستحق في حالة الوفاة والمرض الحرج. كما تنص الخطة على الإعادة إلى الوطن بسبب الوفاة ، من خلال الاهتمام بنفقات الإعادة لعميل القرض المتوفى إلى بلدهم الأصلي ، وفقًا للشروط والأحكام. لمزيد من التفاصيل، قم بزيارة <a href="https://www.deem.io/loans/personal" target="_blank">www.deem.io/loans/personal</a>
                                                    
                                                    </p>
                                                </span>

        </div>

    </div>
</div> -->
<div style="min-height: 87vh;">
    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-md-12 columnpadding">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="heading">Terms & Conditions</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
                        <label class="heading">الشروط و الأحكام</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="remainbalance">
        <div class="row pagePadding">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [innerHtml]="markdownEnglishString | marked" style="height: auto;">
                <!-- <img src="/assets/images/oie_trans.gif" *ngIf="isLoading" style="width: 200px;  position: relative;  top: 50%;
        left: 40%; "> -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [innerHtml]="markdownArabicString | marked" style="height: auto;text-align: right;direction: rtl;">
                <!-- <img src="/assets/images/oie_trans.gif" *ngIf="isLoading" style="width: 200px;  position: relative;  top: %
        left: 40%; "> -->
            </div>

        </div>

    </div>