* {
    font-family: Moderat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.termscondition {
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
}

.fullHeight {
    height: 100vh !important;
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: #6E3DEA;
    margin-left: 10px;
    margin-top: 5px;
}

.row:before,
.row:after {
    display: none !important;
}