* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.banner {
    background: #e1ebee;
    /* background: #f0f0f0; */
    height: auto;
    /* overflow: auto; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.color-red {
    color: red;
}

.color-black {
    color: #000000DE;
}

.banner-padding {
    padding-top: 40px;
}

.filterOptionsContainer {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.img-container {
    /* margin: 3%; */
    position: relative;
}

p {
    word-break: break-word;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.remainbalance {
    margin-bottom: 0;
}

.first-txt {
    line-height: 1;
    text-align: left;
    word-wrap: break-word !important;
}

.last-txt {
    line-height: 1;
    text-align: right;
    word-wrap: break-word !important;
}

p,
span,
div,
h1,
h4 {
    text-transform: capitalize;
}

* span,
p {
    margin-bottom: -3px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 12px 0px -3px;
}

hr {
    border: 1px solid;
}

.row::after,
.row::before {
    display: table;
    content: " ";
}


/* .statement-date {
    font-size: 0.7rem;
}

.statement-period {
    font-size: 0.7rem;
} */

.name {
    font-size: 2rem;
}

.title {
    font-size: 1rem;
}

.title-heading {
    font-size: 19px;
}

.pdf-statement {
    display: block;
    padding: 7px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    float: right;
    margin-top: 15px;
    color: black;
    font-weight: bold;
    font-size: 0.6rem;
}

.pdf-statement:hover {
    text-decoration: none;
}

.view-details {
    margin-top: 10px;
}

a {
    cursor: pointer;
}

#scroll {
    position: -webkit-sticky;
    position: sticky;
}

.row:before,
.row:after {
    display: none !important;
}

div#noRecord div.remainbalance p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-size: x-large;
}

@media only screen and (min-width: 350px) and (max-width: 600px) and (orientation: portrait) {
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
        padding-right: 0;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .img-container img {
        height: 115px;
    }
    .name {
        font-size: 15px;
        word-wrap: break-word !important;
    }
    .title {
        font-size: 12px;
    }
    .last-txt {
        margin-right: 10px;
    }
    .banner-padding {
        padding-top: 0%;
    }
}

@media only screen and (max-width: 765px) and (orientation: landscape) {
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
        padding-right: 0;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .img-container img {
        height: 115px;
    }
    .name {
        font-size: 15px;
        word-wrap: break-word !important;
    }
    .title {
        font-size: 12px;
    }
    .banner-padding {
        padding-top: 0%;
    }
}