<!------->
<ng-container>
    <div *ngIf="isMobileScren;then small_screen else big_screen"></div>
    <!-- Small Screen Template-->
    <ng-template #small_screen>
        <div style="min-height:90vh ;">
            <div> </div>
            <div class="spin">
                <img *ngIf="isEnabled" src="/assets/images/oie_trans.gif" height="100px" width="100px">
            </div>
            <div *ngIf="isRecord">

                <!-- <div class="row" style="margin-bottom: 0;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="img-container">
                            <img src="/assets/images/Frame 12.jpg" alt="">
                            <div class="first-txt">
                                <p class="title">HELLO</p>
                                <p class="name">{{profileDetails.userDetails.firstName}}</p>
                                <p class="title">WELCOME</p>
                            </div>
                            <div class="last-txt">
                                <p class="title">ابحرم</p>
                                <p class="name">{{profileDetails.userDetails.firstName}}</p>
                                <p class="title">ﻚﺑ ﺎﻠﻫأ</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div lass="row" class="banner">
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding banner-padding">

                            <p class="title">HELLO</p>
                            <p class="name">{{profileDetails.userDetails.firstName}}</p>
                            <p class="title">WELCOME</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                            <img [src]="getCardImageUrl()" height="190px" alt="">

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding banner-padding" style="text-align:right;">
                            <p class="title">مرحبا</p>
                            <p class="name">{{profileDetails.userDetails.firstName}}</p>
                            <p class="title">أهلا بك</p>
                        </div>
                    </div>

                </div>
                <div class="row" class="remainbalance" style="margin-top: 15px;">


                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p class="statement-date">Statement Date:</p>
                            <p class="statement-period">Statement Period:</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">

                            <mat-form-field appearance="outline">
                                <mat-select [placeholder]="selected" (selectionChange)="selectPeriod($event.value)">
                                    <div *ngIf="profileDetails.availableCardStatements">
                                        <mat-option *ngFor="let objStmt of profileDetails.availableCardStatements" [value]="objStmt.statementDate">{{objStmt.statementDate}}</mat-option>
                                    </div>
                                </mat-select>

                            </mat-form-field>
                            <p style="margin-top: 8px;">{{statementPeriodOne }} To {{statementPeriodTwo}}</p>
                            <!-- date:'yyyy-MM-dd' -->
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right;">
                            <p class="statement-date">تاريخ كشف الحساب</p>
                            <p class="statement-period">مدة كشف الحساب</p>
                        </div>
                    </div>

                </div>
                <div class="row pdfButtonCont">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a target="_blank" (click)="generatePDF('download')" class="pdf-statement">PDF STATEMENT
                            <img src="/assets/icons/download.png" alt="" width="15px" height="15px"
                                style="padding-bottom: 3px;margin-left: 2px;">
                        </a>
                    </div>
                </div>

                <div *ngFor="let objCard of profileDetails.creditCardDetails" class="row" class="remainbalance" style="margin-bottom: 15px;">


                    <div class="row row1">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                            <p class="title-heading">Deem {{objCard.cardType}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                            <p class="title-heading">{{getCardArabicText()}}</p>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Card Number</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{objCard.primaryCardNumber}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>رقم البطاقة</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Payment Due (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p style="text-decoration: underline;"><a target="_blank" (click)="payNow()">{{formatNumber(objCard.totalPaymentDue)}}</a></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الدفعة المستحقة (درهم)</p>
                        </div>
                    </div>


                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Minimum Payment Due (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p style="text-decoration: underline;"><a target="_blank" (click)="payNow()">{{formatNumber(objCard.minimumPaymentDue)}}</a></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>الحد الأدنى للدفع (درهم)</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Payment Due Date</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <!-- <p [ngStyle]="{color:getDueDateColor()}">{{getDueDate()}}</p> -->
                            <p>{{objCard.paymentDueDate | date:'EEEE, MMMM d, y'}}</p>
                            <!-- | date:'EEEE, MMMM d, y' -->
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>التاريخ المحدد للدفع</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Credit Limit (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{formatNumber(objCard.totalCreditLimit)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي حد الإئتمان (درهم)</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Cash Limit (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{formatNumber(objCard.totalCashLimit)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الحد النقدي (درهم)</p>
                        </div>
                    </div>
                    <!--Total outstanding balance-->
                    <!-- <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Outstanding Balance (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{this.localeStringService.fromNumberToLocaleString(objCard.totalOutstandingBalance)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الرصيد المستحق (درهم)</p>
                        </div>
                    </div> -->
                    <div class="row row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding" style="text-align: center; margin-top: 15px;">
                            <a routerLink="/statement/credit-card" style="color:black; font-weight: bold;"><span style="font-weight: bold;" (click)="getDetails()">View Details</span>&nbsp;&nbsp;<span style="font-weight: normal;">></span></a>
                        </div>
                    </div>

                </div>




                <!-- Personal Loan -->
                <!-- <div *ngIf="profileDetails.creditCardDetails.length===0">
            <div style="margin-top:65px;display: block;background:#FAFAFA;width: 100%;margin-left: -0%;"></div>
        </div> -->
                <div *ngIf="profileDetails.personalLoanSummary != null ">
                    <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null " class="row" class="remainbalance" style="margin-bottom: 15px;">

                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p class="title-heading">Deem Personal Loan</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p class="title-heading">قرض ديم الشخصي</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Personal Loan Statement Date</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.statementDate | date:'EEEE, MMMM d, y'}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <!--To to Arabic text-->
                                <p></p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Loan Account Number</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.loanAccountNumber}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>رقم حساب القرض</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Principal Outstanding (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.principalOutstanding)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>المبلغ المستحق لأصل الدين (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus == 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.totalpaymentDue)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>موعد الدفع (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus !='WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.paymentDue)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>موعد الدفع (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus == 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.principalOutstanding)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>أصل المبلغ من (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus != 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.towardsPrincipal)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>أصل المبلغ من (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Interest (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.towardsInterest)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>الفائدة نحو (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Late Payment Fee / Other Charges (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.lateFeeOtherCharges)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>رسوم السداد المتأخر/ الرسوم الأخرى (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due Date</p>
                            </div>
                            <!-- [ngClass]="(profileDetails.personalLoanSummary.paymentDueDate === 'Immediate')?'color-red':'color-black'" -->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p [ngClass]="(profileDetails.personalLoanSummary.paymentDueDate === 'Immediate' )?'color-red':'color-black'">{{profileDetails.personalLoanSummary.paymentDueDate }}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>التاريخ المحدد للدفع</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Interest Rate p.a.(%)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.interestRatePa}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>نسبة الفائدة سنويا (%)</p>
                            </div>
                        </div>
                        <!-- <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Interest Rate p.a.(%)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.npaStatus}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                               
                                <p></p>
                            </div>
                        </div> -->
                        <div class="row row1">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding" style="text-align: center; margin-top: 15px;">
                                <a routerLink="/statement/loan" style="color:black; font-weight: bold;" (click)="geDetails()"><span style="font-weight: bold;">View Details</span>&nbsp;&nbsp;<span style="font-weight: normal;">></span></a>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- Deem personal loan end -->

                <!-- Double Secure starts -->
                <div *ngIf="profileDetails.creditCardDetails.length>0 ">
                    <div class="row" class="remainbalance" style="margin-top: 15px;">

                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p class="title-heading">Deem Double Secure</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p class="title-heading">ديم دبل سيكيور</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Monthly Billing Amount (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(cardInsurance)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>مبلغ الفاتورة الشهرية (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p>For <span style="text-transform: lowercase;">more Details and</span> Terms & Conditions,<span style="text-transform: lowercase;">please
                                            visit</span></p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p>لمزيد من التفاصيل و الشروط و الأحكام, يرجى زيارة</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p style="text-transform: lowercase; margin-top: 0.5%;">
                                    <a href="http://www.deem.io/cards/cash-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/cash-up</a> and <a href="http://www.deem.io/cards/miles-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/miles-up</a>
                                </p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p style="text-transform: lowercase; margin-top: 0.5%;">
                                    <a href="http://www.deem.io/cards/cash-up" style="text-decoration: underline;color: black;" target="_blank">www.deem.io/cards/cash-up</a> and <a href="http://www.deem.io/cards/miles-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/miles-up</a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Double Secure ends -->
                <!-- Deem Credit Life Plus starts -->
                <div *ngIf="profileDetails.personalLoanSummary != null ">
                    <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null ">
                        <div class="row" class="remainbalance" style="margin-top: 15px;">

                            <div class="row row1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                    <p class="title-heading">Deem Credit Life Plus</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                    <p class="title-heading">ديم كريديت لايف بلس</p>
                                </div>
                            </div>
                            <div class="row row1">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                    <p>Monthly Billing Amount (AED)</p>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                    <p>{{ formatNumber(loanInsurance)}}</p>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                    <p>مبلغ الفاتورة الشهرية (درهم)</p>
                                </div>
                            </div>
                            <div class="row row1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                    <p>For <span style="text-transform: lowercase;">more Details and</span> Terms & Conditions,<span style="text-transform: lowercase;">please
                                            visit <a href="https://www.deem.io/loans/personal" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/loans/personal</a> </span></p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                    <p><a href="https://www.deem.io/loans/personal" target="_blank" style="text-decoration: underline;color: black;text-transform: lowercase;">www.deem.io/loans/personal</a>لمزيد من التفاصيل و الشروط و الأحكام, يرجى زيارة</p>
                                </div>
                            </div>

                            <!-- Double Secure ends -->

                        </div>
                    </div>
                </div>

            </div>
            <div id="noRecord" *ngIf="isNoRecord">
                <div class="row" class="remainbalance" style="margin-top: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                        <p>
                            {{noRecordMessage}} </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Deem Credit Life Plus ends -->
    </ng-template>
    <!-- Big Screen Template-->
    <ng-template #big_screen>
        <div style="min-height:90vh ;">
            <div> </div>
            <div *ngIf="isRecord">

                <!-- <div class="row" style="margin-bottom: 0;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="img-container">
                            <img src="/assets/images/Frame 12.jpg" alt="">
                            <div class="first-txt">
                                <p class="title">HELLO</p>
                                <p class="name">{{profileDetails.userDetails.firstName}}</p>
                                <p class="title">WELCOME</p>
                            </div>
                            <div class="last-txt">
                                <p class="title">ابحرم</p>
                                <p class="name">{{profileDetails.userDetails.firstName}}</p>
                                <p class="title">ﻚﺑ ﺎﻠﻫأ</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div lass="row" class="banner">
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding banner-padding">

                            <p class="title">HELLO</p>
                            <p class="name">{{profileDetails.userDetails.firstName}}</p>
                            <p class="title">WELCOME</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">
                            <img [src]="getCardImageUrl()" height="190px" alt="">

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding banner-padding" style="text-align:right;">
                            <p class="title">مرحبا</p>
                            <p class="name">{{profileDetails.userDetails.firstName}}</p>
                            <p class="title">أهلا بك</p>
                        </div>
                    </div>

                </div>
                <div class="row" class="remainbalance" style="margin-top: 15px;">


                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p class="statement-date">Statement Date:</p>
                            <p class="statement-period">Statement Period:</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">

                            <mat-form-field>
                                <mat-select [placeholder]="selected" (selectionChange)="selectPeriod($event.value)">
                                    <div *ngIf="profileDetails.availableCardStatements">
                                        <mat-option *ngFor="let objStmt of profileDetails.availableCardStatements" [value]="objStmt.statementDate">{{objStmt.statementDate}}</mat-option>
                                    </div>
                                </mat-select>

                            </mat-form-field>
                            <p style="margin-top: 8px;">{{statementPeriodOne }} To {{statementPeriodTwo}}</p>
                            <!-- date:'yyyy-MM-dd' -->
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right;">
                            <p class="statement-date">تاريخ كشف الحساب</p>
                            <p class="statement-period">مدة كشف الحساب</p>
                        </div>
                    </div>

                </div>
                <div class="row pdfButtonCont">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a target="_blank" (click)="generatePDF('download')" class="pdf-statement">PDF STATEMENT
                            <img src="/assets/icons/download.png" alt="" width="15px" height="15px"
                                style="padding-bottom: 3px;margin-left: 2px;">
                        </a>
                    </div>
                </div>

                <div *ngFor="let objCard of profileDetails.creditCardDetails" class="row" class="remainbalance" style="margin-bottom: 15px;">


                    <div class="row row1">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                            <p class="title-heading">Deem {{objCard.cardType}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                            <p class="title-heading">{{getCardArabicText()}}</p>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Card Number</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{objCard.primaryCardNumber}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>رقم البطاقة</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Payment Due (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p style="text-decoration: underline;"><a target="_blank" (click)="payNow()">{{formatNumber(objCard.totalPaymentDue)}}</a></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الدفعة المستحقة (درهم)</p>
                        </div>
                    </div>


                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Minimum Payment Due (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p style="text-decoration: underline;"><a target="_blank" (click)="payNow()">{{formatNumber(objCard.minimumPaymentDue)}}</a></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>الحد الأدنى للدفع (درهم)</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Payment Due Date</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <!-- <p [ngStyle]="{color:getDueDateColor()}">{{getDueDate()}}</p> -->
                            <p>{{objCard.paymentDueDate | date:'EEEE, MMMM d, y'}}</p>
                            <!-- | date:'EEEE, MMMM d, y' -->
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>التاريخ المحدد للدفع</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Credit Limit (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{formatNumber(objCard.totalCreditLimit)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي حد الإئتمان (درهم)</p>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Cash Limit (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{formatNumber(objCard.totalCashLimit)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الحد النقدي (درهم)</p>
                        </div>
                    </div>
                    <!--Total outstanding balance-->
                    <!-- <div class="row row1">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                            <p>Total Outstanding Balance (AED)</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                            <p>{{this.localeStringService.fromNumberToLocaleString(objCard.totalOutstandingBalance)}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                            <p>إجمالي الرصيد المستحق (درهم)</p>
                        </div>
                    </div> -->
                    <div class="row row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding" style="text-align: center; margin-top: 15px;">
                            <a routerLink="/statement/credit-card" style="color:black; font-weight: bold;"><span style="font-weight: bold;" (click)="getDetails()">View Details</span>&nbsp;&nbsp;<span style="font-weight: normal;">></span></a>
                        </div>
                    </div>

                </div>




                <!-- Personal Loan -->
                <!-- <div *ngIf="profileDetails.creditCardDetails.length===0">
            <div style="margin-top:65px;display: block;background:#FAFAFA;width: 100%;margin-left: -0%;"></div>
        </div> -->
                <div *ngIf="profileDetails.personalLoanSummary != null ">
                    <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null " class="row" class="remainbalance" style="margin-bottom: 15px;">

                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p class="title-heading">Deem Personal Loan</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p class="title-heading">قرض ديم الشخصي</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Personal Loan Statement Date</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.statementDate | date:'EEEE, MMMM d, y' }}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>رقم حساب القرض</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Loan Account Number</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.loanAccountNumber}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>رقم حساب القرض</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Principal Outstanding (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.principalOutstanding)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>المبلغ المستحق لأصل الدين (درهم)</p>
                            </div>
                        </div>

                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus == 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.totalpaymentDue)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>موعد الدفع (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus != 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.paymentDue)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>موعد الدفع (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus == 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.principalOutstanding)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>أصل المبلغ من (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1" *ngIf="profileDetails.personalLoanSummary.npaStatus != 'WRITEOFF'">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.towardsPrincipal)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>أصل المبلغ من (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Towards Interest (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.towardsInterest)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>الفائدة نحو (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p style="padding-left: 6%;"><span>Late Payment Fee / Other Charges (AED)</span></p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(profileDetails.personalLoanSummary.lateFeeOtherCharges)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>رسوم السداد المتأخر/ الرسوم الأخرى (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Payment Due Date</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p [ngClass]="(profileDetails.personalLoanSummary.paymentDueDate === 'Immediate' )?'color-red':'color-black'">{{profileDetails.personalLoanSummary.paymentDueDate}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>التاريخ المحدد للدفع</p>
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Interest Rate p.a.(%)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.interestRatePa}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>نسبة الفائدة سنويا (%)</p>
                            </div>
                        </div>
                        <!-- <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>NPA Status</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{profileDetails.personalLoanSummary.npaStatus}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                              
                        <p></p>
                    </div>
                </div> -->
                        <div class="row row1">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding" style="text-align: center; margin-top: 15px;">
                                <a routerLink="/statement/loan" style="color:black; font-weight: bold;" (click)="geDetails()"><span style="font-weight: bold;">View Details</span>&nbsp;&nbsp;<span style="font-weight: normal;">></span></a>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- Deem personal loan end -->

                <!-- Double Secure starts -->
                <div *ngIf="profileDetails.creditCardDetails.length>0 ">
                    <div class="row" class="remainbalance" style="margin-top: 15px;">

                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p class="title-heading">Deem Double Secure</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p class="title-heading">ديم دبل سيكيور</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                <p>Monthly Billing Amount (AED)</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                <p>{{formatNumber(cardInsurance)}}</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                <p>مبلغ الفاتورة الشهرية (درهم)</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p>For <span style="text-transform: lowercase;">more Details and</span> Terms & Conditions,<span style="text-transform: lowercase;">please
                                            visit</span></p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p>لمزيد من التفاصيل و الشروط و الأحكام, يرجى زيارة</p>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                <p style="text-transform: lowercase; margin-top: 0.5%;">
                                    <a href="http://www.deem.io/cards/cash-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/cash-up</a> and <a href="http://www.deem.io/cards/miles-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/miles-up</a>
                                </p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                <p style="text-transform: lowercase; margin-top: 0.5%;">
                                    <a href="http://www.deem.io/cards/cash-up" style="text-decoration: underline;color: black;" target="_blank">www.deem.io/cards/cash-up</a> and <a href="http://www.deem.io/cards/miles-up" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/cards/miles-up</a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Double Secure ends -->
                <!-- Deem Credit Life Plus starts -->
                <div *ngIf="profileDetails.personalLoanSummary != null ">
                    <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null ">
                        <div class="row" class="remainbalance" style="margin-top: 15px;">

                            <div class="row row1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                    <p class="title-heading">Deem Credit Life Plus</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                    <p class="title-heading">ديم كريديت لايف بلس</p>
                                </div>
                            </div>
                            <div class="row row1">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                                    <p>Monthly Billing Amount (AED)</p>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                                    <p>{{ formatNumber(loanInsurance)}}</p>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                                    <p>مبلغ الفاتورة الشهرية (درهم)</p>
                                </div>
                            </div>
                            <div class="row row1">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                                    <p>For <span style="text-transform: lowercase;">more Details and</span> Terms & Conditions,<span style="text-transform: lowercase;">please
                                            visit <a href="https://www.deem.io/loans/personal" target="_blank" style="text-decoration: underline;color: black;">www.deem.io/loans/personal</a> </span></p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                                    <p><a href="https://www.deem.io/loans/personal" target="_blank" style="text-decoration: underline;color: black;text-transform: lowercase;">www.deem.io/loans/personal</a>لمزيد من التفاصيل و الشروط و الأحكام, يرجى زيارة</p>
                                </div>
                            </div>

                            <!-- Double Secure ends -->

                        </div>
                    </div>
                </div>

            </div>
            <div id="noRecord" *ngIf="isNoRecord">
                <div class="row" class="remainbalance" style="margin-top: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">
                        <p>
                            {{noRecordMessage}} </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Deem Credit Life Plus ends -->
    </ng-template>
</ng-container>