<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1>😞 Oops!! <br>Something went wrong while processing your request.</h1>

        </div>
    </div>
</div>

<!-- far fa-file-pdf -->