<div class="profile-card">
    <div class="row row-small-screen">

        <div class="col-md-12 columnpadding">
            <div class="row">
                <div class="col-md-12">
                    <label class="heading">Tools</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 87vh">
    <mat-tab-group class="remove-border-bottom" (selectedTabChange)="onLinkClick($event)" dynamicHeight>

        <mat-tab label="Loan Calculator">
            <div class="container remainbalance" style="padding-left: 50px; padding-right: 50px;padding-bottom: 50px;">
                <div class="row" style="padding-top: 20px;">

                    <div class="col-md-12">

                        <label>Loan Amount (AED): <span style="font-weight: bold;">{{ this.requestedAmount.toLocaleString()}}</span></label>
                        <mat-slider class="example-margin" [max]="max" [min]="min" [step]="step" [displayWith]="formatLabel" tickInterval="500" [thumbLabel]="thumbLabel" (change)="updateSetting($event)" [(ngModel)]="loanCalculator.loanAmount">
                        </mat-slider>

                    </div>
                </div>

                <div class="row" style="padding-top: 20px;">

                    <div class="col-md-6">
                        <label>Tenor (Months)</label>
                        <select class="form-control" id="txtreqpay" (change)='onFieldChange(loanCalculator.loanTenor)' [(ngModel)]="loanCalculator.loanTenor">  
                        <option [value]="tenor.id" *ngFor="let tenor of loanTenors">{{tenor.value}}</option>
                    </select>
                    </div>
                    <div class="col-md-6"> <label>Interest Rate p.a. (%)</label>
                        <input class="form-control" id="txtreqrate" maxlength="8" type="text" (input)="onFieldChange($event.target.value)" [(ngModel)]="loanCalculator.monthlyLoanInterestRate">
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-6">
                        <button type="button" (click)="calculateLoan(loanCalculator)">Calculate</button>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12"> <label style="font-weight: bold;">EMI (AED): <span >{{ loanCalculator.emi}}</span></label>

                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12">
                        <p style="color:red;"> {{loanErrorMessage}} </p>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12">
                        <p> <span style="font-weight: bold;">Note:</span> Your Deem Personal Loan comes with Credit Life Plus to protect your loan outstanding in the unfortunate event of death or terminal illness.</p>
                    </div>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Epp Calculator">

            <div class="container remainbalance" style="padding-left: 50px; padding-right: 50px;padding-bottom: 50px;">

                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-6">
                        <label>Amount (in AED)</label>
                        <input class="form-control" id="txtreqamt1" maxlength="12" type="text" (input)="onFieldChange($event.target.value)" [(ngModel)]="eppCalculator.eppAmount" (keyup)="getAmount()"> </div>
                    <div class="col-md-6"> <label>Tenor (in months)</label>
                        <div id="select">
                            <select class="form-control" id="txtreqpay1" placeholder="SELECT TENOR" (change)="onFieldChange(eppCalculator.tenor)" [(ngModel)]="eppCalculator.tenor"> 
                        
                            <option [value]="tenor.id" *ngFor="let tenor of eppTenors">{{tenor.value}}</option>
            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-6"> <label>Monthly Flat Interest Rate (%)</label>
                        <input class="form-control" id="txtroi" maxlength="8" type="text" (input)="onFieldChange($event.target.value)" [(ngModel)]="eppCalculator.monthlyFlatInterestRate">
                    </div>

                    <div class="col-md-6">
                        <button type="button" [disabled]="isEnabled" (click)="calculateEpp(eppCalculator)">Calculate</button>

                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">

                    <div class="col-md-6"> <label style="font-weight: bold;">Monthly instalment (AED)</label>
                        <input class="form-control" type="text" [readonly]="true" [(ngModel)]="eppCalculator.eppMonthlyInstallment">
                    </div>
                    <div class="col-md-6">
                        <p style="color:red;"> {{eppErrorMessage}} </p>
                    </div>

                </div>

            </div>
        </mat-tab>

    </mat-tab-group>
</div>