* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.title-heading {
    font-size: 19px;
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.75em + 1rem + 2.25px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

button {
    display: block;
    width: 50%;
    height: calc(1.75em + 1rem + 2.25px);
    margin-left: 0;
    margin-bottom: 0;
    color: white;
    box-sizing: border-box;
    background: #6E3DEA !important;
    border: none;
}

mat-slider {
    width: 100%;
}


/* 
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}  */


/* .form-control:focus {
    color: #495057;
    background-color: #fff;
     border-color: #6E3DEA !important; 
    outline: 0;
    box-shadow: none;
}

select.form-control {
    color: #6E3DEA !important;
    margin-right: 10px;
} */

.filterlabel {
    /* position: relative; */
    top: 11px;
    left: 10px;
    font-family: Moderat Light, verdana;
    font-size: 9pt;
}

.calbtn {
    /* position: relative; */
    top: 38px;
    background: #6E3DEA;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 32px;
    font-family: Moderat Light, verdana;
    text-decoration: none;
}

@media screen and (max-width: 600px) {}