<div style="min-height: 88vh;">
    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-md-12 columnpadding">
                <div class="row">
                    <div class="col-md-12">
                        <label class="heading">Offers / Communication</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="pages">
        <div class="remainbalance">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let image of pages" [innerHtml]="transform(image)" style="height: auto;">
              
            </div> -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let objOffer of pages" style="height: auto; margin-bottom:15px;">
                    <div class="item">
                        <div class="item-title">
                            <h3>{{objOffer.Title}}</h3>
                        </div>
                        <div class="item-image">
                            <img src="{{envService.getEnviornment().baseUrlStrapi}}{{objOffer.Image[0].formats.medium.url}}" alt="cash up" width="100%" height="300px">
                            <div class="overlay">
                                <a class="info" target="_blank" (click)="openOffer(objOffer.Image[0].formats.medium.url,objOffer.Title,objOffer.Description)">View Details</a>
                            </div>
                        </div>
                        <div class="item-desc">
                            <p>{{objOffer.Summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>