* {
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: #6E3DEA;
    margin-left: 10px;
    margin-top: 5px;
}

.container {
    background: rgba(128, 128, 128, 0.06);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top: 20px;
}

.item-image {
    width: 230px;
    height: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.item-image img {
    height: 230px;
    width: 230px;
}

.item-title {
    text-align: center;
    color: #6E3DEA !important;
    /* color: black !important; */
    margin-left: -30%;
}

.item-image .overlay {
    width: 100%;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item-desc {
    margin-top: 15px;
    /* width: 230px;
    height: 230px; */
    width: 75%;
    text-align: justify;
}

.item-image img {
    display: block;
    position: relative;
    --webkit-transition: all .04s linear;
    transition: all .04s linear;
}

.item-image a.info {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 100px 0 0;
    width: 180px;
    padding: 10px 14px;
}

.item .item-image:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item .item-image:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.row:before,
.row:after {
    display: none !important;
}