* {
    font-size: 12px;
}

.container {
    position: relative;
}

.img-tag img {
    height: 100%;
    width: 100%;
    float: right;
    text-align: left;
}

.img-tag {
    margin-left: -10px;
}

.img-desc {
    float: right;
    font-size: 0.6rem;
    text-align: justify;
}

#title {
    color: #6E3DEA !important;
    font-size: 1rem;
    margin-top: 5px;
}

.icon {
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: -15px;
    position: absolute;
    /* left: 565px; */
    left: 99.5%;
}