<div class="container">

    <div mat-dialog-title (click)="close()" class="icon">×</div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="img-tag">
                <a target="_blank" href="https://www.deem.io/cards/cash-up"> <img [src]="imageUrl" alt=""></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="img-desc">
                <p id="title">{{title}}</p>
                <p>{{desc}}
                </p>
            </div>
        </div>
    </div>
</div>