<div style="min-height: 87vh">
    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-md-7 columnpadding">
                <div class="row">
                    <div class="col-md-4">
                        <label class="title">Personal Loan</label>
                        <p class="value">{{plSummary.loanAccountNumber}}</p>
                    </div>
                    <div class="col-md-4" *ngIf="plSummary.npaStatus !='WRITEOFF'">
                        <label class="title">Payment Due</label>
                        <p class="value">{{formatNumberLoan(plSummary.paymentDue)}}</p>
                    </div>
                    <div class="col-md-4" *ngIf="plSummary.npaStatus =='WRITEOFF'">
                        <label class="title">Payment Due</label>
                        <p class="value">{{formatNumberLoan(plSummary.totalpaymentDue)}}</p>
                    </div>
                    <!-- <div class="col-md-4">
                        <label class="title">Due on</label>
                        <p class="value">{{plSummary.dueOn}}</p>
                    </div> -->
                </div>
            </div>
            <div class="col-md-5 columnpadding">
                <div class="row">
                    <div class="col-md-12" id="button-cont">
                        <button class="btn" (click)="payNow()" type="button">Pay Now</button>
                        <!-- <a [routerLink]="">PAY NOW</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10px;">
        <mat-divider></mat-divider>
    </div>
    <div class="row" style="margin-top:15px;display: block;background:#FAFAFA;width: 100%;margin-left: -0%;
            padding-top: -0.5%;padding-bottom: 1%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <!-- <p class="statement-date">Statement Date:</p> -->
                    <p class="statement-period">Statement Period:</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:center">

                    <p class="statement-period" style="margin-top: 8px;">{{statementPeriodOne}} To {{statementPeriodTwo}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align:right;">
                    <!-- <p class="statement-date">تاريخ كشف الحساب:</p> -->
                    <p class="statement-period">تاريخ كشف الحساب</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;display: block;background:#FAFAFA;width: 100%;margin-left: -0%;
             padding-top: -0.5%;padding-bottom: 1%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row row1">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding">
                    <p class="title-heading">Summary Of Accounts</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 columnpadding" style="text-align: right;">
                    <p class="title-heading">ملخص الحسابات</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Loan Account Number</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.loanAccountNumber}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>رقم حساب القرض</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Principal Outstanding (AED)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.principalOutstanding)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>أصل المبلغ (درهم)</p>
                </div>
            </div>
            <div class="row row1" *ngIf="plSummary.npaStatus == 'WRITEOFF'">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Payment Due (AED)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.totalpaymentDue)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>موعد الدفع (درهم)</p>
                </div>
            </div>
            <div class="row row1" *ngIf="plSummary.npaStatus != 'WRITEOFF'">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Payment Due (AED)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.paymentDue)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>موعد الدفع (درهم)</p>
                </div>
            </div>
            <!-- style="padding-left: 6%;" -->
            <div class="row row1" *ngIf="plSummary.npaStatus == 'WRITEOFF'">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.principalOutstanding)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>أصل المبلغ من (درهم)</p>
                </div>
            </div>
            <div class="row row1" *ngIf="plSummary.npaStatus != 'WRITEOFF'">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p style="padding-left: 6%;"><span>Towards Principal (AED)</span></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.towardsPrincipal)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>أصل المبلغ من (درهم)</p>
                </div>
            </div>

            <!-- style="padding-left: 6%;" -->
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p style="padding-left: 6%;"><span>Towards Interest (AED)</span></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.towardsInterest)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>الفائدة نحو (درهم)</p>
                </div>
            </div>
            <!-- style="padding-left: 6%;" -->
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p style="padding-left: 6%;"><span>Late Payment Fee / Other Charges (AED)</span></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.lateFeeOtherCharges)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>رسوم السداد المتأخر/ الرسوم الأخرى (درهم)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Payment Due Date</p>
                </div>
                <!-- [ngClass]="(plSummary.paymentDueDate === 'Immediate' )?'color-red':'color-black'" -->

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: center;">
                    <p [ngClass]="(plSummary.paymentDueDate === 'Immediate' )?'color-red':'color-black'">{{plSummary.paymentDueDate}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>التاريخ المحدد للدفع</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Amount Borrowed (AED)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.amountBorrowed)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>المبلغ المقترض (درهم)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Tenor (Months)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.tenor}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>المدة ( الشهور)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Interest Rate p.a.(%)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.interestRatePa}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>نسبة الفائدة سنويا (%)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>EMI</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.monthlyInstallment)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>الأقساط الشهرية (درهم)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Last Payment Amount (AED)</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{formatNumberLoan(plSummary.lastPaymentAmount)}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>مبلغ الدفعة الأخيرة (درهم)</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Last Payment Date</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.lastPaymentDate}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>تاريخ الدفع الأخير</p>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>Instalments Remaining</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.installmentRemaining}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                    <p>الأقساط المتبقية</p>
                </div>
            </div>
            <!-- <div class="row row1">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding">
                    <p>NPA Status</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 columnpadding" style="text-align: center;">
                    <p>{{plSummary.npaStatus}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnpadding" style="text-align: right;">
                   
                    <p></p>
                </div>
            </div> -->

        </div>

    </div>
</div>