* {
    box-sizing: border-box;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.title-heading {
    font-size: 19px;
}

.color-red {
    color: red;
}

.color-black {
    color: #000000DE;
}

.profile-card {
    text-align: center;
    height: 60px;
}

.profile-card>div>div>div>div>.title {
    font-size: 10px;
    color: gray;
}

.profile-card>div>div>div>div>.value {
    font-size: 15px;
    font-weight: bold;
    margin-top: -7px;
}

.profile-card>div>div>div>div>a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    background: rgb(110, 61, 234);
    padding-top: 11px;
    /* padding: 5px 0;
    margin-top: 10px; */
}

button {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-left: 0;
    border: 0.5px solid #6E3DEA !important;
}

#button-cont button {
    width: 100px;
    height: 40px;
    color: white;
    display: block;
    margin-top: 0;
    text-align: center;
    border-radius: 0;
    margin-left: 72%;
    font-size: 12px;
    background: #6E3DEA !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 12px 0px -3px;
}

hr {
    border: 1px solid;
}

.row::after,
.row::before {
    display: table;
    content: " ";
}


/* .statement-date {
    font-size: 12px;
}

.statement-period {
    font-size: 12px;
} */

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
    .profile-card {
        height: 180px;
    }
    #button-cont>.col-md-4>a {
        padding-left: 25px;
    }
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
    }
    #button-cont button {
        margin-left: 35%;
        margin-top: 10%;
        transform: translate(-35%, 35%);
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .row1 {
        display: table;
        width: 100%;
        /*Optional*/
        table-layout: fixed;
        /*Optional*/
        margin-right: -15px;
        margin-left: -15px;
    }
    .columnpadding {
        display: table-cell;
    }
    .profile-card {
        height: 180px;
    }
    #button-cont>.col-md-4>a {
        padding-left: 25px;
    }
    .row-small-screen {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-right: -15px;
        margin-left: -15px;
    }
    #button-cont button {
        margin-left: 35%;
        margin-top: 20%;
        transform: translate(-35%, 35%);
    }
}