* {
    font-family: Moderat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.deem-icon {
    mix-blend-mode: multiply;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.mat-list-base .mat-list-item {
    font-size: 13px;
    height: 40px;
}

.mat-expansion-panel-header {
    /* padding-left: 35px; */
    font-size: 13px;
}

.panel-text-allign {
    padding-right: 20px;
}

.mat-expansion-panel {
    background-color: #F6F6F6 !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: #6E3DEA;
}

.i-arrow {
    color: #6E3DEA;
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #F6F6F6 !important;
    border: 2px solid black;
    width: 210px;
    height: 48px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 11px;
}

.name-style {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.cif-padding {
    font-size: 12px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #fff;
}

a {
    font-size: 12px;
    font-weight: 400;
}