@import '../../../theme';
:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
    .mat-list-item.active {
        background-color: mat-color($app-primary, 50);
    }
    &:hover,
    &:focus {
        >.mat-list-item:not(.expanded) {
            background-color: mat-color($app-primary, 100) !important;
        }
    }
}

.mat-list-item {
    padding: 8px 0;
    display: flex;
    width: auto;
    i {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.profile-card {
    text-align: center;
    padding: 10px 10px 10px 10px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #F6F6F6!important;
        ;
    }
}

.logo {
    text-align: center;
    padding: 0 20px 20px 20px;
}

// a {
//     text-decoration: none;
//     color: black;
// }