<mat-nav-list>
    <div class="header logo">
        <img class="img-fluid" style="width:100px;" src="/assets/images/logo.svg">

    </div>
    <mat-divider></mat-divider>
    <div class="profile-card">

        <!-- <img src="/assets/icons/profile.png" alt="Profile Image"> -->
        <p class="name-style">{{profileDetails.userDetails.firstName}} {{profileDetails.userDetails.lastName}}</p>
        <p style="font-size: 13px;">{{profileDetails.userDetails.address1}},<br>{{profileDetails.userDetails.address2}}, {{profileDetails.userDetails.city}}, {{profileDetails.userDetails.state}}, {{profileDetails.userDetails.country}}</p>
        <p class="cif-padding">CIF Number: {{profileDetails.userDetails.cifNumber}}</p>
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home" (click)="onSidenavClose(null)">
        <span><i><img src="/assets/icons/home.png" alt=">" width="20px" height="20px"></i></span>Home</a>
    <div *ngIf="profileDetails.creditCardDetails.length > 0 ">
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="padding-left: 35px;">
                    <mat-panel-title>
                        <!-- <span><i class="fa fa-credit-card panel-text-allign" ></i>Credit Card</span> -->
                        <span><i class="panel-text-allign" ><img src="/assets/icons/credit-card.png" alt=">" width="20px" height="20px"></i>Credit Card</span>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="credit-card" (click)="onSidenavClose(null)"> <span><i class="fa fa-angle-right i-arrow"></i></span>{{creditCardMenuText}}</a> -->

                <a *ngFor="let objCard of profileDetails.noOfAvailableCards" mat-list-item routerLinkActive="list-item-active" routerLink="credit-card" (click)="onSidenavClose(objCard.accountNumber)">
                    <span><i class="fa fa-angle-right i-arrow"></i></span>{{getPrimaryCard(objCard.cardType,objCard.accountNumber)}}</a>


            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div *ngIf="profileDetails.personalLoanSummary !=null ">
        <div *ngIf="profileDetails.personalLoanSummary.loanAccountNumber != null ">
            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="padding-left: 35px;">
                        <mat-panel-title>
                            <span><i class="panel-text-allign" ><img src="/assets/icons/personal-loan.png" alt=">" width="20px" height="20px"></i></span>Personal Loan
                        </mat-panel-title>

                    </mat-expansion-panel-header>

                    <a mat-list-item routerLinkActive="list-item-active" routerLink="loan" (click)="onSidenavClose(null)"> <span><i class="fa fa-angle-right i-arrow"></i></span>{{profileDetails.personalLoanSummary.loanAccountNumber}}</a>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <!-- <a mat-list-item routerLinkActive="list-item-active" (click)="onSidenavClose()"><span> <i><img src="/assets/icons/everyday-account.png" alt=">" width="15px" height="15px"></i></span>Everyday Account</a> -->
    <div *ngIf="profileDetails.creditCardDetails.length > 0 ">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard" (click)="onSidenavClose(null)"><span> <i><img src="/assets/icons/rewards.png" alt=">" width="20px" height="20px"></i></span>Rewards / Spend Analyzer</a>
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="calculator" (click)="onSidenavClose(null)"><span> <i><img src="/assets/icons/calculator.png" alt=">" width="20px" height="20px"></i></span>Tools</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="payment-options" (click)="onSidenavClose(null)"><span> <i><img src="/assets/icons/payment-options.png" alt=">" width="20px" height="20px"></i></span>Payment Options</a>

    <div *ngIf="(profileDetails.personalLoanSummary != null && profileDetails.personalLoanSummary.loanAccountNumber != null) || profileDetails.creditCardDetails.length > 0 ">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="tax-invoice" (click)="onSidenavClose(null)"><span> <i><img src="/assets/icons/tax-invoice.png" alt=">" width="20px" height="20px"></i></span>Tax Invoice</a>
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="offers" (click)="onSidenavClose(null)"><span> <i><img src="/assets/icons/offers.png" alt=">" width="20px" height="20px"></i></span>Offers</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="terms" (click)="onSidenavClose(null)"> <span> <i><img src="/assets/icons/terms-conditions.png" alt=">" width="20px" height="20px"></i></span>Terms & Conditions</a>
</mat-nav-list>
<button type="button" (click)="logOut()"> Log Out</button>
<!-- <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" class="menu-list-item">
    <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
    {{item.displayName}}
    <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
    </mat-icon>
    </span>
</a>

<div *ngIf="expanded">
    <mat-nav-list>
        <app-side-nav-bar *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
        </app-side-nav-bar>
    </mat-nav-list>
</div> -->