* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Moderat;
    font-style: normal;
    font-weight: 400;
}

#line {
    position: relative;
    /* width: 100%;  */
    height: 1px;
    /* top: 24px; */
    background-color: rgba(0, 0, 0, 0.12);
    margin-bottom: 12%;
    margin-left: -13%;
    margin-right: -13%;
}

.outer {
    width: 100%;
    height: 100vh;
    background: url('/assets/images/Login.jpg');
    background-size: 100% 100%;
    position: relative;
    /* background-size: 100%; */
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: 0.2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: 0.2;
    }
}

.saving .dotAnimation {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 0.5s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.dot {
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 0.5s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    height: 8px;
    width: 8px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.dotText {
    font-family: "Moderat", serif;
    font-weight: 300;
    font-size: 15px;
    color: #9e9e9e;
}

div#queryString p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    min-height: 90vh;
    font-size: x-large;
}

.spin {
    /* width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    position: fixed;
    top: 43%;
    left: 50%;
}

.inner {
    position: absolute;
    top: 10%;
    left: 100px;
    width: 25%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    padding: 2.5%;
}

.deem-icon img {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: -7%;
    /* background-size: cover; */
    margin-bottom: 7%;
    mix-blend-mode: multiply;
}

.login-content p {
    margin: 0;
    padding: 0;
    color: #979797;
    font-size: 0.7rem;
    line-height: 1.5;
    margin-top: 2%;
}

.form-area p {
    margin: 0;
    padding: 0;
    color: #979797;
    margin-top: 10%;
}

.form-area input {
    width: 100%;
    /* margin-bottom: 20px; */
}

.form-area input[type=password] {
    border: none;
    border-bottom: 1px solid #979797;
    background: transparent;
    outline: none;
    height: 25px;
    color: #979797;
    /* font-size: 0.5rem; */
}

.form-area input[type=submit] {
    height: 35px;
    color: white;
    font-size: 0.7rem;
    /* background: rgb(110, 61, 234); */
    background: #6600ff;
    cursor: pointer;
    outline: none;
    margin-top: 5%;
}


/* used success class to change the login button color to grey
class is defined instead of the selector .form-area a */

.form-area .success {
    text-decoration: none;
    color: white;
    display: block;
    width: auto;
    height: 45px;
    text-align: center;
    justify-content: center;
    /* background: rgb(110, 61, 234); */
    /* background: rgb(110, 61, 234); */
    background: grey;
    padding: 12.5px 0;
    margin-top: 10px;
    pointer-events: none;
    cursor: not-allowed;
}


/* used disable class to keep the login button color to rgb(110, 61, 234);
class is defined instead of the selector .form-area a */

.form-area .disable {
    text-decoration: none;
    color: white;
    display: block;
    width: auto;
    height: 45px;
    text-align: center;
    justify-content: center;
    /* background: rgb(110, 61, 234); */
    background: rgb(110, 61, 234);
    padding: 12.5px 0;
    margin-top: 10px;
}

.form-area a {
    text-decoration: none;
    color: white;
    display: block;
    width: auto;
    height: 45px;
    text-align: center;
    justify-content: center;
    /* background: rgb(110, 61, 234); */
    background: rgb(110, 61, 234);
    padding: 12.5px 0;
    margin-top: 10px;
}

.form-area button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: rgb(110, 61, 234) !important;
    color: white;
    width: 98%;
    height: 48px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 11px;
}

#note {
    margin-top: 25px;
    font-size: 55%;
}

.footer1 {
    position: fixed;
    text-align: left;
    display: inline-block;
    width: 100%;
    bottom: 20px;
    left: 5.3%;
    color: #f1f1f1;
    font-size: 0.6rem;
    word-wrap: break-word;
}

.footer2 {
    position: fixed;
    text-align: right;
    display: inline-block;
    width: 100%;
    bottom: 20px;
    right: 3.5%;
    color: #f1f1f1;
    font-size: 0.6rem;
}

.divider {
    margin-bottom: 12%;
    margin-left: -13%;
    margin-right: -13%;
    background: transparent;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .inner {
        position: absolute;
        left: 30%;
        top: 50%;
        width: 40vw;
        height: 45vw;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        padding: 2%;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .deem-icon img {
        width: 25%;
        display: block;
        margin: auto;
        margin-top: 0;
        /* background-size: cover; */
        margin-bottom: 2%;
        mix-blend-mode: multiply;
    }
    .divider {
        margin-bottom: 2%;
        margin-left: -6%;
        margin-right: -6%;
        background: transparent;
    }
    #line {
        position: relative;
        /* width: 100%;  */
        height: 1px;
        /* top: 24px; */
        background-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 2%;
        margin-left: -6%;
        margin-right: -6%;
    }
    .login-content p {
        margin: 0;
        padding: 0;
        color: #979797;
        font-size: 10px;
        line-height: 1.5;
        margin-top: 2%;
    }
    .form-area p {
        margin: 0;
        padding: 0;
        color: #979797;
        margin-top: 2%;
        font-size: 10px;
    }
    .form-area input {
        width: 100%;
        margin-bottom: 7%;
    }
    .form-area input[type=password] {
        border: none;
        border-bottom: 1px solid #979797;
        background: transparent;
        outline: none;
        height: 30%;
        color: #979797;
        font-size: 10px;
    }
    .form-area a {
        text-decoration: none;
        color: white;
        display: block;
        width: auto;
        text-align: center;
        justify-self: center;
        background: rgb(110, 61, 234);
        padding-top: 13px;
        margin-top: 3%;
        font-size: 10px;
    }
    #note {
        margin-top: 2%;
        font-size: 8px;
    }
    #pwderr {
        margin: 0;
    }
    .footer1 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 88%;
        margin-bottom: 10px;
        margin-left: 0;
        /* left: 12%; */
        color: #f1f1f1;
        font-size: 8px;
    }
    .footer2 {
        position: fixed;
        text-align: left;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        right: 6%;
        color: #f1f1f1;
        font-size: 8px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 670px) {
    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 75vw;
        height: 120vw;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        padding: 7%;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .deem-icon img {
        width: 30%;
        display: block;
        margin: auto;
        margin-top: 0;
        margin-bottom: 10%;
        /* mix-blend-mode: multiply; */
    }
    .divider {
        margin-bottom: 12%;
        margin-left: -11%;
        margin-right: -11%;
        background: transparent;
    }
    #line {
        position: relative;
        /* width: 100%;  */
        height: 1px;
        /* top: 24px; */
        background-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 12%;
        margin-left: -13%;
        margin-right: -13%;
    }
    .login-content p {
        margin: 0;
        padding: 0;
        color: #979797;
        font-size: 0.6rem;
        line-height: 1.5;
    }
    .form-area p {
        margin: 0;
        padding: 0;
        color: #979797;
        margin-top: 10%;
    }
    .form-area input {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-area input[type=password] {
        border: none;
        border-bottom: 1px solid #979797;
        background: transparent;
        outline: none;
        height: 20px;
        color: #979797;
        font-size: 10px;
    }
    .form-area input[type=submit] {
        height: 35px;
        color: white;
        font-size: 0.6rem;
        background: #6600ff;
        cursor: pointer;
        outline: none;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .form-area a {
        text-decoration: none;
        color: white;
        display: block;
        width: auto;
        text-align: center;
        justify-content: center;
        background: rgb(110, 61, 234);
        padding-top: 15px;
        margin-top: 15px;
        height: 45px;
    }
    #note {
        margin-top: 7%;
        font-size: 55%;
    }
    #pwderr {
        margin: 0;
    }
    .footer1 {
        position: fixed;
        text-align: left;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        word-wrap: break-word;
        /* left: 12%; */
        color: #f1f1f1;
        font-size: 8px;
    }
    .footer2 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        /* right: 6%; */
        color: #f1f1f1;
        font-size: 8px;
    }
    /* .footer1 {
        position: fixed;
        text-align: left;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        left: 12%;
        color: #f1f1f1;
        font-size: 0.3rem;
    }
    .footer2 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        right: 6%;
        color: #f1f1f1;
        font-size: 0.3rem;
    } */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .inner {
        position: absolute;
        left: 30%;
        top: 50%;
        width: 40vw;
        height: 45vw;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        padding: 2%;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .deem-icon img {
        width: 25%;
        display: block;
        margin: auto;
        margin-top: 0;
        /* background-size: cover; */
        margin-bottom: 2%;
        mix-blend-mode: multiply;
    }
    .divider {
        margin-bottom: 2%;
        margin-left: -6%;
        margin-right: -6%;
        background: transparent;
    }
    #line {
        position: relative;
        /* width: 100%;  */
        height: 1px;
        /* top: 24px; */
        background-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 2%;
        margin-left: -6%;
        margin-right: -6%;
    }
    .login-content p {
        margin: 0;
        padding: 0;
        color: #979797;
        font-size: 10px;
        line-height: 1.5;
        margin-top: 2%;
    }
    .form-area p {
        margin: 0;
        padding: 0;
        color: #979797;
        margin-top: 2%;
        font-size: 10px;
    }
    .form-area input {
        width: 100%;
        margin-bottom: 7%;
    }
    .form-area input[type=password] {
        border: none;
        border-bottom: 1px solid #979797;
        background: transparent;
        outline: none;
        height: 30%;
        color: #979797;
        font-size: 10px;
    }
    .form-area a {
        text-decoration: none;
        color: white;
        display: block;
        width: auto;
        text-align: center;
        justify-self: center;
        background: rgb(110, 61, 234);
        padding-top: 13px;
        margin-top: 3%;
        font-size: 10px;
    }
    #note {
        margin-top: 2%;
        font-size: 8px;
    }
    #pwderr {
        margin: 0;
    }
    .footer1 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 88%;
        margin-bottom: 5px;
        margin-left: 0;
        /* left: 12%; */
        color: #f1f1f1;
        font-size: 8px;
    }
    .footer2 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        right: 6%;
        color: #f1f1f1;
        font-size: 8px;
    }
}

@media only screen and (min-width: 550px) and (max-width:1024px)and (orientation: portrait) {
    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 75vw;
        height: 100vw;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        padding: 4%;
    }
    .spin {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .deem-icon img {
        width: 25%;
        display: block;
        margin: auto;
        margin-top: 0;
        /* background-size: cover; */
        margin-bottom: 5%;
        mix-blend-mode: multiply;
    }
    .divider {
        margin-bottom: 10%;
        margin-left: -6%;
        margin-right: -6%;
        background: transparent;
    }
    #line {
        position: relative;
        /* width: 100%;  */
        height: 1px;
        /* top: 24px; */
        background-color: rgba(0, 0, 0, 0.12);
        margin-bottom: 10%;
        margin-left: -6%;
        margin-right: -6%;
    }
    .login-content p {
        margin: 0;
        padding: 0;
        color: #979797;
        font-size: 1.3rem;
        line-height: 1.5;
        margin-top: 2%;
    }
    .form-area p {
        margin: 0;
        padding: 0;
        color: #979797;
        margin-top: 10%;
        font-size: 1.5rem;
    }
    .form-area input {
        width: 100%;
        margin-bottom: 10%;
    }
    .form-area input[type=password] {
        border: none;
        border-bottom: 1px solid #979797;
        background: transparent;
        outline: none;
        height: 30%;
        color: #979797;
        font-size: 3rem;
    }
    .form-area a {
        text-decoration: none;
        color: white;
        display: block;
        width: auto;
        text-align: center;
        background: rgb(110, 61, 234);
        padding: 13px 0;
        margin-top: 3%;
        font-size: 1.5rem;
    }
    #note {
        margin-top: 5%;
        font-size: 1rem;
    }
    #pwderr {
        margin: 0;
    }
    .footer1 {
        position: fixed;
        text-align: left;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        left: 12%;
        color: #f1f1f1;
        font-size: 0.8rem;
    }
    .footer2 {
        position: fixed;
        text-align: right;
        display: inline-block;
        width: 100%;
        bottom: 3%;
        right: 6%;
        color: #f1f1f1;
        font-size: 0.8rem;
    }
}