<!-- Small Screen Template-->

<!-- Big Screen Template-->

<div *ngIf="isNoQueryString" class="outer">

    <div class="inner">
        <div class="spin">
            <img *ngIf="isEnabled" src="/assets/images/oie_trans.gif" height="100px" width="100px">
        </div>
        <div class="deem-icon">
            <img src="/assets/images/logo.svg" alt="deem icon">
            <div id="line"></div>
            <!-- <mat-divider class="divider"></mat-divider> -->
        </div>

        <div class="login-content">
            <p style="color: #000000;font-weight:400;">Login to view your statement</p><br>
            <p>Your password is your date of birth (YYYYMMDD) followed by the last four digits of your registered mobile number.
            </p>
        </div>
        <div class="form-area">

            <p style="font-size: 0.7rem;">Password</p>
            <input type="password" (keyup.enter)="customerLogin(model.cifid)" id="inputPwd" name="cifid" #cifid="ngModel" maxlength="12" (input)="onpwdChange($event.target.value)" [(ngModel)]="model.cifid" required pattern="\S+">
            <!-- <input type="submit" value="LOG IN"> -->
            <p id="pwderr" style="color:red;font-size: 10px;">{{this.errorMessage}}</p>
            <!-- <a [routerLink]="" (click)="customerLogin(model.cifid)"><i></i>LOG IN</a> -->
            <a [ngClass]="status ? 'success' : 'disable'" [routerLink]="" (click)="customerLogin(model.cifid)"><i></i>LOG IN</a>
            <!-- <button type="button" (click)="customerLogin(model.cifid)" [disabled]="isEnabled"> <i><img *ngIf="isEnabled" src="/assets/images/oie_trans.gif" style="width: 50px;position: fixed; "> </i>    Login  </button> -->

        </div>
        <p id="note">Note: If your date of birth is January 18 1980 and registered mobile number is +971 501234567 then the password will be 198001184567
        </p>
    </div>
    <div *ngIf="isMobileScren;then small_screen else big_screen"></div>
    <!-- Small Screen Template-->
    <ng-template #small_screen>
        <div class="footer1">
            <p>Deem Finance LLC is regulated by Central Bank of the UAE | P.O. Box 44005 | Abu Dhabi, UAE</p>
        </div>
    </ng-template>
    <ng-template #big_screen>
        <div class="footer1">
            <p>Deem Finance LLC (Deem) is regulated by Central Bank of the UAE | P.O. Box 44005 | Abu Dhabi, UAE</p>
        </div>
    </ng-template>

    <div class="footer2">
        <p>www.deem.io | 600 525550 | customercare@deem.io</p>
    </div>
</div>


<div *ngIf="isQueryString">
    <div class="row" style="margin-top: 15px;">
        <div id="queryString" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columnpadding">

            <p class="saving" id="spinner" hidden>
                <span class="dot"></span>
                <span class="dotText">Give us few seconds...</span>

            </p>
            <p>
                <span style=" padding-left: 10px; padding-right:10px;word-break: break-word;">{{isQueryStringMessage}}</span>
            </p>
        </div>
    </div>
</div>