.profile-card {
    text-align: center;
    padding: 10px 10px 10px 10px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.logo {
    text-align: center;
    padding: 0 20px 20px 20px;
}