:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

mat-sidenav {
    width: 250px;
    background-color: #F6F6F6 !important;
}

mat-sidenav-content {
    background-color: #fff;
    box-shadow: none;
}

mat-expansion-panel {
    background-color: #F6F6F6 !important;
}

main {
    padding: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.columnpadding {
    padding: 0px !important;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px soild #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
}

.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    /* opacity: 0.8; */
    z-index: 99;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

.bodyLayout {
    /* border: solid 1px #555; */
    /* background-color: #eed; */
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff !important;
    /* padding: 5px 5px !important;  */
    /* without blur shadow*/
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    a.nav-item.nav-link {
        color: hsl(0, 0%, 100%);
    }
    a.nav-link.dropdown-toggle {
        color: hsl(0, 0%, 100%);
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}