<ng-container>
    <div *ngIf="isMobileScren;then small_screen else big_screen"></div>
    <!-- Small Screen Template-->
    <ng-template #small_screen>
        <mat-sidenav-container>

            <mat-sidenav style="width: 100%;" #sidenav mode="side" role="navigation">
                <div style="margin-top:15px;"> <span style="float:right;text-align: center;  margin-right: 20px; font-size: 30px;" (click)="sidenav.close()"> X</span>
                    <app-side-nav-bar (sidenavClose)="sidenav.close()"></app-side-nav-bar>
                </div>

            </mat-sidenav>

            <mat-sidenav-content>
                <app-header (sidenavToggle)="sidenav.toggle()">
                </app-header>

                <div class="bodyLayout">
                    <router-outlet>
                    </router-outlet>
                </div>

                <app-footer></app-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </ng-template>
    <!-- Big Screen Template-->
    <ng-template #big_screen>
        <mat-sidenav-container>
            <mat-sidenav style="position: fixed;height: 100%;" #sidenav mode="side" opened role="navigation">
                <app-side-nav-bar></app-side-nav-bar>
            </mat-sidenav>

            <mat-sidenav-content>

                <div *ngIf="loaderService.isLoading | async" class="loader-container">
                    <mat-spinner [diameter]="25" style="top: 50%;left: 50%;"></mat-spinner>
                </div>

                <div class="bodyLayout">
                    <router-outlet>


                    </router-outlet>
                </div>

                <app-footer></app-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </ng-template>
</ng-container>