<div style="min-height: 87vh">
    <div class="profile-card">
        <div class="row row-small-screen">

            <div class="col-md-12 columnpadding">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="heading">Payment Options</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
                        <label class="heading">خيارات الدفع</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="remainbalance">
        <div class="row ">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="width: 100%;height: auto;" [innerHtml]="markdownEnglishString | marked">

            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="width: 100%;height: auto;text-align: right;direction: rtl;" [innerHtml]="markdownArabicString | marked">

            </div>

        </div>


    </div>