* {
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.imgSize {
    width: 150px;
    position: relative;
}

img {
    width: 100%;
    height: 300px
}

.profile-card {
    height: 60px;
    text-align: left;
    margin-left: 10px;
}

.profile-card>div>div>div>div>.heading {
    font-size: 20px;
    color: #6E3DEA;
    margin-left: 10px;
    margin-top: 5px;
}

.row:before,
.row:after {
    display: none !important;
}