/* You can add global styles to this file, and also import other style files */


/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/

@font-face {
    font-family: Moderat;
    font-weight: 400;
    src: url('assets/Fonts/Moderat-Regular.ttf');
}

p {
    word-break: break-word;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Moderat, "geometric", sans-serif;
}

.title-heading {
    color: #6E3DEA;
    /* font-size: 10pt; */
    font-family: Moderat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
}

.error {
    color: #ff0000;
}

.form-control:focus {
    box-shadow: none;
}

.remainbalance {
    background: #FAFAFA;
    /* background: #f0f0f0; */
    height: auto;
    /* overflow: auto; */
    padding: 15px;
    margin: 0;
    margin-bottom: 30px;
}

.pdfButtonCont {
    height: auto;
    margin-bottom: 10px;
    background: #fff;
}

.pagePadding {
    padding: 1%;
}

.btn-secondary {
    background-image: linear-gradient(to right, #6E3DEA, #6E3DEA, #6E3DEA);
    font-size: small;
}

.btn-secondary:hover {
    background-image: linear-gradient(to right, #000, #000, #000);
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: #6E3DEA !important;
    color: #fff;
}


/* 


/* 
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
} */

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 10px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100% !important;
    font-size: 12px !important;
}

.mat-accent .mat-slider-thumb {
    height: 30px!important;
    width: 30px !important;
    bottom: -20px !important;
    right: -20px !important;
    font-size: 12px !important;
}

.mat-slider-track-background {
    background-color: #fff !important;
    font-size: 12px !important;
}

.mat-slider-track-background:hover {
    background-color: #fff !important;
    font-size: 12px !important;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white !important;
    font-size: 12px !important;
}

.mat-tab-label {
    background-color: transparent !important;
    color: #000000 !important;
    font-size: 12px !important;
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #000000;
    font-size: 12px;
}


/* Styles for the ink bar */

.mat-ink-bar {
    background-color: #6E3DEA !important;
    font-size: 12px !important;
}

.remove-border-bottom .mat-tab-header {
    border-bottom: none !important;
    font-size: 12px !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-slider-thumb-label-text {
    transform: rotate(0deg) !important;
    color: black !important;
    font-size: 14px;
}

.mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
    transform: rotate(0deg) !important;
    border-radius: 0px 0px 0 !important;
    font-size: 14px;
    width: 0rem !important;
    right: 0px !important;
    top: -30px !important;
}

.mat-select-value {
    width: 100%;
}

.mat-form-field-infix {
    width: 100px !important;
    /* padding: 0 !important; */
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.mat-form-field-wrapper {
    padding-top: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat-form-field-placeholder {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.mat-drawer-container {
    overflow: auto !important;
}