.btn {
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    width: 25%;
    cursor: pointer;
    margin: 1rem 0;
    font-size: 1.2rem;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    background-image: linear-gradient(to right, #6E3DEA, #6E3DEA, #6E3DEA);
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
}

.btn:hover {
    background-image: linear-gradient(to right, #000, #000, #000);
    // outline: #6E3DEA;
    //color: black;
}

// .btn {
//     display: block;
//     width: 100%;
//     height: 50px;
//     border-radius: 25px;
//     margin: 1rem 0;
//     font-size: 1.2rem;
//     outline: none;
//     border: none;
//     background-image: linear-gradient(to right, #6E3DEA, #6E3DEA, #6E3DEA);
//     cursor: pointer;
//     color: #fff;
//     text-transform: uppercase;
//     font-family: 'Popins', sans-serif;
//     background-size: 200%;
//     transition: .5s;
// }