<div class="inputContainer">
    <i class="ficon"><img src="/assets/icons/calendar.png" (click)="dpFrom.toggle()" width="15px" height="15px" alt="">  </i>
    <input class="form-control inp-icon" placeholder="dd/mm/yyyy" name="dpFrom" ngbDatepicker #dpFrom="ngbDatepicker" [readonly]="true" [(ngModel)]="dateFilter" (ngModelChange)="change()" type="text">

</div>