.inputContainer i {
    position: absolute;
    width: 78%;
    text-align: right;
    padding-top: 5px;
}

.inputContainer {
    width: 100%;
}

.icon {
    padding: 10px;
    width: 85%;
    text-align: right;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}