<!-- <div style="float: left;">
        Deem Finance L.L.C. | P.O. Box 44005 | Abu Dhabi, UAE
    </div>
    <div style="text-align: center;">
        <a href="http://www.deem.io" target="_blank">www.deem.io</a> | 800 3366 | <a href="mailto:customercare@deem.io" target="_blank">customercare@deem.io</a>
    </div>
    <div style="float: right;">
        TRN: 1000038451900003
        
    </div> -->

<div style="background-color:#fff;position:sticky;z-index:4000;bottom:0;line-height:5px; padding: 5px; font-size: 10px;overflow: hidden !important;">


    <div *ngIf="isMobileScren;then small_screen else big_screen"></div>
    <!-- Small Screen Template-->
    <ng-template #big_screen>
        <div class="row">
            <div class="col-md-4">
                <p style="margin-left: 15px">Deem Finance LLC (Deem) is regulated by Central Bank of the UAE | P.O. Box 44005 | Abu Dhabi, UAE</p>
            </div>
            <div class="col-md-4">
                <p style="text-align:center;"><a href="http://www.deem.io" target="_blank">www.deem.io</a> | 600 525550 | <a href="mailto:customercare@deem.io" target="_blank">customercare@deem.io</a></p>
            </div>
            <div class="col-md-4">
                <p id="footerRight" style="text-align:right;margin-right:15px">TRN: 1000038451900003</p>
            </div>
        </div>
    </ng-template>
    <ng-template #small_screen>

        <div class="row">
            <div class="col-md-4">
                <p style="margin-left: 15px">Deem Finance LLC (Deem) is regulated by Central Bank of the UAE | P.O. Box 44005 | Abu Dhabi, UAE</p>
            </div>
            <div class="col-md-4">
                <p style="text-align:center;"><a href="http://www.deem.io" target="_blank">www.deem.io</a> | 600 525550 | <a href="mailto:customercare@deem.io" target="_blank">customercare@deem.io</a></p>
            </div>
            <div class="col-md-4">
                <p id="footerRight" style="text-align:right;margin-right:15px">TRN: 1000038451900003</p>
            </div>
        </div>
    </ng-template>

</div>