* {
    font-family: Moderat;
}

footer {
    font-size: 12px;
}

p {
    word-wrap: break-word;
    line-height: 15px;
}

.align-left {
    float: left;
    width: 31.33%;
    text-align: left;
    margin-bottom: 10px;
}

.align-center {
    float: left;
    width: 31.33%;
    text-align: center;
    margin-bottom: 10px;
}

.align-right {
    float: right;
    width: 31.33%;
    text-align: right;
    margin-bottom: 10px;
}

@media only screen and (max-width: 736px) {
    .row {
        text-align: center;
    }
    #footerRight {
        padding-right: 30%;
    }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    p {
        word-wrap: break-word;
        line-height: 15px;
    }
}